body {
    background: url(./assets/fundo-amadeirado.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #53534b;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
 }
 
 @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');
 
 section {
     padding-top: 2rem;
     margin: 20px 5px;
     min-height: 70vh;
     display: flex;
     align-items: center;
    justify-content: center;
    text-align: center;
     flex-direction: column;
     border: 5px solid #696960;
     }
     

 h1 {
     text-align: center;
     font-family: 'Kalam', cursive;
     color: rgb(54, 49, 49);
 }
 h2{
     text-align: center;
     font-family: 'Quicksand', sans-serif;
     color: rgb(61, 56, 56);
 }
  h3 {
     text-align: center;
     font-family: 'Raleway', sans-serif;
     }

 @media screen and (max-width: 480px) {
     .foto{
         width: 298px;
     }
     section {
         width: 300px;
     }
 }
 
 