body {
    background: rgb(41, 25, 177);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.949) 75%, rgba(6, 52, 158, 0.899) 100%); 
}

* {
    color: white;
    font-size: 50px;
    font-family: 'Texto Carmesim', serif;
    margin: 20px auto;  
}

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

.batman {
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 100px;
}

img {
    width: 200px;
    padding: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.text {
    margin: 50px;
    font-size: 35px;
}

button {
    position: relative;
    left: 550px;
    background: linear-gradient(90deg, rgba(26, 24, 176, 0.949) 85%, rgba(36, 36, 38, 0.899) 100%); 
}

.inicio {
    background: linear-gradient(90deg, rgb(7, 72, 203) 85%, rgba(28, 17, 183, 0.899) 100%); 
    width: auto;
    height: 250px;
}

.imagens {
   text-align: auto;
}