body{
    padding: 20px;
    background-color: black;
    font-family: Arial;
    background-image: url(e28757ba75975cab46fd49b3879b354d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: backdrop-filter 0.5s ease;
}

h1{
    font-size: 40px;
  box-shadow: .1em 0 0 #ffffff;
  margin: 2rem 1rem;
  width: 23ch;
  overflow: hidden;
  color: #FFF;
  white-space: nowrap;
  animation: caret .5s step-end infinite alternate,
             type 4s steps(23, end)
}

@keyframes type {
  0% {
    width: 0;
  }

}
@keyframes caret { 
  50% { 
    box-shadow: .6em 0 0 transparent;
  }
}
.itens img{
    height: 35px;
    width: 35px;
}

.menu {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
    padding: -29px;
}

.menumusic {
    position: relative;
    display: block;
    background: #ffffff;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.menumusic:before,
.menumusic:after {
    background: #ffffff;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.menumusic:before {
    top: -10px;
}

.menumusic:after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked~label .menumusic {
    transform: rotate(45deg);
}

input:checked~label .menumusic:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked~label .menumusic:after {
    transform: rotate(90deg);
    bottom: 0;
}

.barra {
    background-color: #333;
    height: 100%;
    width: 300px;
    position: fixed;
    transition: all .2s linear;
    left: -300px;
}

#check:checked~.barra {
    transform: translateX(300px);
}

.itens {
    margin-top: 100px;
}

.item {
    height: 100px;
    width: 300px;
    margin-bottom: -40px;
    font-size: 18px;
    font-family: Arial;
    text-decoration: white;
    color: white;
}

p, a{
    text-decoration: none;
    scroll-behavior: smooth;
}   

.inline{
    display: flex;
}

.blacker{
    border: 2px solid rgb(49, 49, 49);
    background-color: rgb(49, 49, 49);
    color: #ffffff;
    height: 600px;
    padding-left: 80px;
    margin-right: -28px;
    margin-left: -28px;
    margin-bottom: -580px;
}

h2{
    font-size: 40px;
}

.container {
    overflow: hidden;
  }
  
  .filterDiv {
    background-color: #575757;
    color: #ffffff;
    width: 1000px;
    padding-left: 50px;
    display: none;
    padding: 10px;
    height: 50px;
  }
  
  .show {
    display: block;
    margin-left: 340px;
    margin-top: 20px;
  }
  
  .btn {
    border: none;
    width: 200px;
    outline: none;
    padding: 12px 16px;
    background-color: #000000;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 10px;
  }
  
  .btn:hover {
    background-color: #1f1f1f;
  }
  
  .btn:active {
    background-color: #666;
    color: white;
  }

  .fron, .ppp{
    display: flex;
  }

  body{
    text-align:center;
    background-color:#ffcc8e;
  }
  
  .button{
    border: 2px solid white;
    height: 20px;
    width: 60px;
    background-color: white;
    color: #000;
    margin-top: 14px;
  }

  .button:hover{
    background-color: transparent;
    color: white;
    box-shadow: 0 0 20px white;
    transition: all 0.25s ease-in;
 }

  a{
    cursor: pointer;
  }
