.vermelho{
    background-color: red;
}

/* Adicionar padrão à pagina */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* deixar o scroll mais bonito */
html {
    scroll-behavior: smooth;
}
/* colodcar o header fixo e na frente do resto da pagina */
header { 
    padding: 0% 0px;
    width: 100%;
    height: 30%;
    background-color: rgb(38, 38, 38);
    z-index: auto;
}
/* tirar o estilo padrão da lista e alinhar no meio */
header nav ul {
    list-style: none;
    text-align: center;
}
/* Colocar os itens da ,ista um ao lado do outro */
header nav ul li {
    display: inline;
}
/* coloca as frases em caps e estiliza os anchors da pagina */
header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -912px;
    font-size: 30px;
    padding: 10px;
    display: inline-block;
}
/* coloca uma cor na font quando passar o mouse */
header nav ul li a:hover {
    color: rgb(122, 189, 244);
}

section {
    padding-top: 7px;
    text-align: center;
    width: 100%;
    height: 700px;
}

section:nth-child(even) {
    background: rgb(32,178,170);
}

section:nth-child(odd){
    background: rgb(38, 38, 38);
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

article {
    width: 100%;
    text-align: center;

}


footer {
    width: 100%;
    height: 200px;
}


#center{
    text-align: center;
}


#texto{
    text-align: right;
}

#color-white {
    color: white;
    font-size: 4cqmin;
    text-align: justify;
    text-align: center;
 
   
}


#tamanho{
    font-size: 5cqmin;
    text-align: justify;
    text-align: center;
}

#video{
    grid-area: main;
}

#title {
    /* alinhar o titulo e aplicar tamanho */
    text-align: center;
    font-size: 25px;
    
}
#name {
    /* msm coisa com o subtitulo */
    text-align: end;
    font-size: 15px;
    text-align: center;
}

.nome {
    /* msm coisa com o subtitulo */
    text-align: end;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.container {
    /* tamanho maximo da div */
    max-width: 60vw;
    /* colocar o grid */
    display: grid;
    /* alinhar o conteudo no centro */
    justify-content: center;
    background-color: rgb(196, 196, 196);
    /* colocar no meio da pag */
    margin-left: auto;
    margin-right: auto;
    /* arredondar a borda e colocar sombra */
    border-radius: 20px;
    box-shadow: 8px 10px 4px rgb(0,0,0,0.5);
    /* adicionar margem */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

nav {
    text-align: center;
    margin-top: 20px;
    color:rgb(164, 215, 239);
    font-size: 10%;
}

footer{
    background-color: black;
    padding: 50px;
    color: aquamarine;
    text-align: center;
    width: 100%;
    height: 20px;
 
}

