body {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #027a42;
    width: 100%;
}

.itens {
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h2 {
    font-size: 2.25rem;
    color: #1b1c20;
    font-family: Arial, Helvetica, sans-serif;
}
 
.input-form {
    color: #141519;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}
 
.entrada {
    border-radius: 15px; /* Define o raio da borda */
    border: 1px solid #ccc; /* Adiciona uma borda */
    padding: 8px; /* Adiciona espaço interno para o texto */
    font-size: 16px; /* Define o tamanho da fonte */
    outline: none; /* Remove o contorno ao focar */
}
 
/* Se desejar, pode adicionar estilos para quando o input estiver focado */
.e{
    border-color: #006d00; /* Muda a cor da borda quando focado */
    box-shadow: 0 0 5px rgba(184, 193, 184, 0.5); /* Adiciona uma sombra ao redor do input */
}
 
button {
    padding: 10px 20px; /* Adiciona espaçamento interno ao botão */
    color: #b8b5b5; /* Define a cor do texto */
    background-color: #14161e; /* Define a cor de fundo verde */
    border: none; /* Remove a borda */
    border-radius: 20px; /* Deixa o botão com aspecto arredondado */
    cursor: pointer; /* Altera o cursor ao passar por cima do botão */
    font-size: 16px; /* Define o tamanho da fonte */
}
 
/* Adiciona um efeito de sombra ao passar o mouse sobre o botão */
button:hover {
    box-shadow: 0 4px 8px rgb(213, 228, 213);
}
 
/* Adiciona um efeito de transição suave */
button {
    transition: box-shadow 0.3s ease;
}
 
 
#tasklist {
    display: flex;
   
    flex-wrap: wrap;
}
.click {
    cursor: pointer;
    margin: -4px 0;
}
.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 6px 12px;
    background-color: #027a42;
    width: 90%;
    margin: 10px;
}
 
.item div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
 
p {
    font-family: Arial, Helvetica, sans-serif;
 
}
 
