#form{
    width: 400px;
    /* height: 800px; */
	margin: 70px auto;
	text-align: center;
	position: relative;
    background: #ffb8ec;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

#form fieldset{
    border: none;
	border-radius: 3px;
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: relative;
}

#form input{
    margin-bottom: 10px;
}

.continuar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.461);
    padding: 5px;
}

.voltar{
    display: flex;
}

.new{
    background-color: #B8FFFF;
    margin-left: 938px;
    margin-right: 180px;
    padding: 15px;
}
img{
    margin-top: 15px;
    margin-bottom: -10px;
    height: 30px;
    width: 30px;
}

.sub{
    padding: 5px;
    background-color: #B8FFFF;
    text-decoration: none;
}