
body {
  background-image: url("https://i.pinimg.com/originals/af/a1/ab/afa1abc0fc77fa006e9a927226ccb525.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
  text-align: center;
  items-align: center;
}

h1 {
  font-size: 50;
  text-align: center;
  color: white;
}

p {
  font-size: 25;
  text-align: center;
  color: white;
}

img {
  width: 100px;
} 

.sepa {
  margin-top: 20px;
}

.d {
  border-radius: 10px;
  font-size: 20;
  font-family: arial;
  background: white;
  color: black;
  text-decoration: none;
}

.d:hover	 {
  background-color: gray;
}

