body {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOvZ2bmfpozrOHXI6irJj6XlHvMrjuPp4MPSrt6x4XyCoHvUWK6pRy2w2yG3WwWge995w&usqp=CAU);
    background-size: cover;
color: rgb(251, 250, 250);
	text-align: center;
}

li{
    list-style-type: none;
}

a {
    color: rgb(249, 0, 199)55, 255, 255;
    text-decoration: none;
}
p {color:blueviolet
    style = 'font: size 150px;px'
}

.hh {
    font-size: 35px;
}
