body {
    background-color: rgb(255, 255, 142);
}
.a {
    width: 200px;
    height: 400px;
    object-fit:unset;
    object-position: 5px 10%;
    border: 5px solid rgb(166, 0, 255);
  }
  .b {
    width: 200px;
    height: 400px;
    object-fit:unset;
    object-position: 5px 10% initial;
    border: 5px solid rgb(166, 0, 255);
  }
  .c {
    width: 200px;
    height: 400px;
    object-fit:unset;
    object-position: 5px 10% inherit;
    border: 5px solid rgb(166, 0, 255);
  }
  