body {
    background-image: url(Comoorganizarumaoficinamecanica.webp);
    text-align: center;
    color: rgb(76, 76, 152);
    font-size: xx-large;
}

a {
    text-decoration: none;
    color: rgb(21, 9, 114);
 }