html {
    scroll-behavior: smooth;
  }

@font-face {
    font-family: 'FiraSans';
    src: url('FiraSans-Italic.ttf') format('woff');
    }
@font-face {
    font-family: 'FiraSans I';
    src: url('FiraSans-LightItalic.ttf') format('woff');
    }
@font-face {
    font-family: 'FiraSansLight I';
    src: url('FiraSans-ExtraLightItalic.ttf') format('woff');
    }
    
    
        
    .scroll-bar {
      background-color: transparent;
      overflow-y: scroll;
    }
    
    .scroll-bar::-webkit-scrollbar {
      display: none;
    }

body {
    background-color: black;

}

h1 {
    color: rgb(50, 192, 248);
    padding-top: 170px;
    padding-left: 70px;
    font-size: 50px;
    font-family: 'FiraSans';
}

h2 {
    color: rgb(0, 172, 240);
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 60px;
    font-size: 25px;
    font-family: 'FiraSans I';
}

h3 {
    color: rgb(0, 172, 240);
    padding-left: 80px;
    padding-bottom: 20px;
    font-size: 32px;
    font-family: 'FiraSans I';
}

h4 {
    color: rgb(122, 217, 255);
    padding-left: 120px;
    padding-bottom: 10px;
    font-size: 30px;
    font-family: 'FiraSans I';
}

h5 {
    color: rgb(0, 172, 240);
    padding-left: 70px;
    font-size: 28px;
    margin-right: 13%;
    font-family: 'FiraSans';
}

h6 {
    color: rgb(250, 192, 0);
    padding-left: 80px;
    font-size: 32px;
    font-family: 'FiraSans I';
}

p {
    color: rgb(255, 251, 25);
    margin-left: 10%;
    margin-right: 15%;
    font-size: 23px;
    font-family: 'FiraSansLight I';
}

.aspectos {
    color: rgb(250, 247, 98);
    margin-left: 10%;
    margin-right: 15%;
    font-size: 23px;
    font-family: 'FiraSansLight I';
}

li {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 50px;
    font-size: 22px;
    font-family: 'FiraSans I';
    width: 14%;
}

a {
    text-decoration: none;
    color: rgb(255, 251, 25);
    transition: background-color 0.5s, color 0.5s;
}

li:hover a {
    background-color: rgb(255, 251, 25);
    color: #000000;
}

.start {
  background-color: rgb(255, 251, 25);
  height: 1px;
  width: 99%;
  border-color: rgb(255, 251, 25);
  box-shadow: 0 0 2px 0 rgb(255, 251, 25);
}

.informacoes {
    background: #0a0a0a;
    background-size: cover;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    padding-bottom: 50px;
    box-shadow: 0 0 20px 0 #000000;
}

.informacoes-outra {
    background: #030303;
    background-size: cover;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    padding-bottom: 50px;
    box-shadow: 0 0 20px 0 #000000;
    align-items: center;
}

.col {
    display: flex;
    width: 99%;
  }
  
  .row {
    width: 99%;
  }

  .video {
    margin-left: 33%;

  }

  .podcast {
    margin-left: 40%;
  }

  .influencer {
    margin-left: 36%;
  }

  .opac {
    opacity: 0;
    }