body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#map {
    width: 80%;
    height: 100%;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
