body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: white;
   	margin: 0;
    text-shadow: 8px 8px 10px #0000008c;  
    background: linear-gradient(60deg,red, rgb(2, 195, 18), blue, red);
    background-size: 100%;
    margin-bottom: 10%;
}

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
}

.header {
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap; /*quando a tela estiver pequena faz um item ir abaixo do outro */
    justify-content: space-between;
    align-items: center;
    padding-left: 0.8em;
    padding-right: 0.8em;
}
.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 23px;
    border-color: white; 
}
a, p {
    font-size: 1.4em;
}

a {
    text-decoration: none;
	color: white;
    text-shadow: 8px 8px 10px black;
}
.menu li a:hover {
	color: black;
    border-color: white;
    background-color: white;
    transition: 0.5s;
}

h1 {
    font-size: 50px;
	color: gray;

}
h2 {
    margin-top: 0.7em;
    margin-bottom: 0.4em;
    margin-left: 0.6em;
    margin-right: 0.6em;
    font-size: 2.5em;
    display: flex;
    flex-wrap: wrap;
}

img {
    display: block;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}

.gridc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    margin: 10px;
    grid-gap: 2vw;
    padding: 0px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    grid-template-rows: auto auto;
}

@media (max-width: 65em) {
    .gridc {
      grid-template-columns: 1fr;
    }
  }

@media (max-width: 60.1866em) {
    .menu {
        margin-bottom: 2em;
        gap: 0.5em;
    }

}

.gridc-item {
    width: 70%;
    justify-self: center;
    background-color: rgba(255, 0, 43, 0);
    display: grid;
}
.gridc-item {
    z-index: 2;
    border-style: solid;
    border-width: 0.25em;
    border-color: black;
    border-radius: 10px; 
}

.gridc-item img {
    grid-column: 1;
    grid-row: 1/3;
    align-self: end;
    width: 100%;
} 
.gridc-item a {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: white;
    grid-column: 1;
    grid-row: 3;
    align-self: end;
    font-size: 120%;
}
.gridc-item a:hover {
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

li {
    list-style-position: inside;
}

/* .gridc-item a {
    justify-self: start;
} */

/* .gridc-item:nth-child(1) {
    grid-row: 1 / 3 ;
} */

/* CSS FLEXBOX  */

/* .flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
} */

/* CSS GRID1 */

/* .grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    grid-gap: 20px;
}

.grid1 > div:nth-child(n + 4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.grid1 > div.anuncio {
    grid-column: 1;
    grid-row: 2 / 5 ;
    border-top: 10px solid tomato;
    display: block;
}

@media (max-width: 600px) {
    .grid1 {
        grid-template-columns: repeat(2, 1fr); 
    }
    .grid1 > div:nth-child(n + 4) {
        display: block;
    }
    .grid > div.anuncio {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
} */

/* CSS Grid 2 */

/* .grid2 {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.sidebar > div {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .grid2 {
        grid-template-columns: 1fr;
    }
    .sidebar {
        display: flex;
        overflow: scroll;
    }
    .sidebar > div {
        flex: 1 1 200px;
        margin: 0 10px;
    }
} */

/* SECTION GRID 3 */

/* .grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
}

.grid3-item:nth-child(1) {
    grid-row: 1 / 3 ;
}

.grid3-item {
    display: grid;
}

.grid3-item img {
   grid-column: 1;
   grid-row: 1/3;
   align-self: end;
}

.grid3-item p {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: white;
    grid-column: 1;
    grid-row: 2;
    align-self: end;
} */