
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif; 
    color: white;
   	margin: 0;
    text-shadow: 1px  #0000008c;  
    /* background: radial-gradient(closest-side, gray, black); */
    background: no-repeat, linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    height: 100vh;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
}

header {
    width: 98.6vw;
    display: flex;
    flex-wrap: wrap; /*quando a tela estiver pequena faz um item ir abaixo do outro */
    justify-content: space-between;
    align-items: center;
    padding-left: 0.8em;
    padding-right: 0.8em;
    position: fixed;
    background: #00000000;
}
main {
    padding-top: 3.5em;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.menu li a {
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 23px;
    border-color: white; 
}
a, p {
    font-size: 1.3em;
}


a {
    text-decoration: none;
	color: white;
    text-shadow: 4px 4px 5px black;
    transition: 0.5s;
}
.menu li a:hover {
	color: black;
    border-color: white;
    background-color: white;
    transition: 0.5s;
}

.menu li a {
    transition: 0.5s;
}

h1 {
    font-size: 2.2em;
	color: rgb(30, 30, 30);
    margin-top: 0.9vw;
    margin-bottom: 0.9vw;
}
h2 {
    margin-top: 0.7em;
    margin-bottom: 0.4em;
    margin-left: 0.6em;
    margin-right: 0.6em;
    font-size: 2.5em;
    border: 0.25vw solid rgb(90, 90, 90);
    border-radius: 1.3vw;
    background-color: #0000001c;
    max-width: fit-content;
    padding: 0.1em 0.2em 0.1em 0.2em;
}

img {
    display: block;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;

}

.gridc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
    margin: 10px;
    grid-gap: 2vw;
    padding: 0px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    grid-template-rows: auto auto;
}

@media (max-width: 65em) {
    .gridc {
      grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 65em) {
    a {
      font-size: 1em;
      text-align: center;
      padding: auto;
      margin-right: auto;
      margin-left: auto;
    }
    p {
        text-align: center;
    }
    h2 {
        text-align: center;
        margin-top: 0.5em;
        margin-left: auto;
        margin-right: auto;
    }
    h2 {
        font-size: 2em;
    }
    h1 {
        font-size: 2.1em;
    }
}

@media (max-width: 45em) {
    main {
        padding-top: 0;
    }
    a, p {
        font-size: 5vw;
    } 
    h1, h2 {
        font-size: 8vw;
    }
    header {
        display: grid;
        justify-content: center;
        position: static;
    }
    h1 {
        text-align: center;
    }
    .menu {
        display: grid;
        grid-template-columns: auto auto;
    }
    .menu {
        gap: 0.5em;
        margin-bottom: 1em;
    } 
    .gridc {
        grid-template-columns: 1fr;
    }
}

.gridc-item {
    width: 70%;
    height: auto;
    justify-self: center;
    background-color: rgba(255, 0, 43, 0);
    display: grid;
    z-index: 2;
    border-style: solid;
    border-width: 0.25em;
    border-color: black;
    border-radius: 10px; 
}


.gridc-item img {
    grid-column: 1;
    grid-row: 1/3;
    align-self: end;
    width: 100%;
    height: 300px;
} 
.gridc-item .fundi {
    background: rgba(0, 0, 0, 0.6);
    padding: 0.5em;
    color: white;
    grid-column: 1;
    grid-row: 3;
    border-top: 0.2em solid black;
}

.gridc-item a:hover {
    color: gray;
    transition: 0.5s;
}

li {
    list-style-position: inside;
}
