 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62,5%;
}

html {
    background-color: rgb(255, 106, 0);
    scroll-behavior: smooth;
}

.carrinho   {
    align-items: center;
    justify-content: center;
    margin:0;
    min-height: 100vh;
    margin-left: 3em;
}

h1,h2{
    color:rgb(92, 93, 92)
}
h1:hover,h1:hover{
    color:rgb(106, 255, 0)
}

header {
    margin: auto;
    width: auto;
    height: 4rem;
    background-color: black;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
}

.carrossel  {
    overflow: hidden;
    width: 400px;
    border-radius: 6px;
    border: 5px solid; 
    border-color: rgb(35, 192, 11);
}

.container  {
    display: flex;
    transition: transform 1.0s ease-in-out;
    transform: translateX(0);    
}

img     {
    object-fit: cover;
    width: 400px;
    height: 450px;
}

.material {
    background-image: linear-gradient(to top, rgb(35, 192, 11), rgb(23, 129, 7));
    width: 20rem;
    height: auto;
    border-radius: 12px;
    margin: auto;
    padding-left: 2rem;
    box-shadow: 5px 5px 20px black;
}

footer {
    background-color: rgb(250, 27, 27);
    height: 11rem;
    width: 100%;
}