body {
   background: url(./img/wepik-export-20231117111010cWjv.png) no-repeat;
   background-attachment: fixed;
   background-size: cover;
   color: #53534b;
   width: 60%
   
}

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');

section {
    padding-top: 2rem;
    margin: 20px 5px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    border: 5px solid #696960;
    }
    
h1 {
    text-align: center;
    font-family: 'Kalam', cursive;
    color: rgb(54, 49, 49);
}
h2{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: rgb(61, 56, 56);
}
 h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    }

.foto {
    float: left;
    position: relative;
    margin-top: 35px;
    width: 300px;
    border-radius: 10px;
}
@media screen and (max-width: 480px) {
    .foto{
        width: 298px;
    }
    section {
        width: 300px;
    }
}

