body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #5CCE7C; /* Cor de fundo principal */
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.content-container {
    background-color: #EEEDED; /* Cor de fundo secundária */
    width: 90%;
    padding: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 60px;
}

h1 {
    color: #333;
    margin-bottom: 47px;
    margin-top: 70px;
    margin-left: 90px;
    font-size: 41px;
    font-weight: 700;
    font-family: "Play", sans-serif;
}

p {
    color: #777;
    margin-bottom: 20px;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin-left: 90px;
    max-width: 45%;
    justify-content: left;
}

.product-details {
    display: flex;
    justify-content: space-between;
}

.product-image {
    width: 16%;
    border-radius: 4px;
    margin-left: 8cm;
    margin-top: 50px;
    margin-bottom: 70px;
}

.nutrition-image {
    width: 40%;
    height: 13cm;
    margin-right: 60px;
    margin-top: -250px;
}

.gluten-box {
    background-color: #dfdfdf;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-top: -90px;
    margin-right: 7cm;
    width: 150px;
    float: right;
}

h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
    color: rgb(46, 46, 46);
    font-weight: bold;
}

@media only screen and (max-width: 1595px) and (min-width: 1080px) {

    h1 {
        color: #333;
        margin-bottom: 30px;
        margin-top: 70px;
        margin-left: 90px;
        font-size: 38px;
        font-weight: 700;
        font-family: "Play", sans-serif;
    }
    
    p {
        color: #777;
        margin-bottom: 20px;
        font-family: "Play", sans-serif;
        font-weight: 700;
        font-size: 22px;
        margin-left: 50px;
        justify-content: left;
    }
    
    .product-details {
        display: flex;
        justify-content: space-between;
    }
    
    .product-image {
        width: 15%;
        border-radius: 4px;
        margin-left: 6cm;
        margin-top: 30px;
        margin-bottom: 70px;
    }
    
    .nutrition-image {
        width: 43%;
        height: 9cm;
        margin-right: 30px;
        margin-top: -340px;
    }
    
    .gluten-box {
        background-color: #dfdfdf;
        border: 2px solid black;
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        margin-top: -200px;
        margin-right: 5.5cm;
        width: 150px;
        float: right;
    }
    
    h2 {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    span {
        color: rgb(46, 46, 46);
        font-weight: bold;
    }
}