body {
    background-image: url("https://th.bing.com/th/id/OIP.ELFu--kNY73tEtSKUa95aQHaDQ?w=333&h=154&c=7&r=0&o=5&pid=1.7");
    background-repeat: no-repeat;
    background-size: 200%;
  }
  a {
    color: rgb(0, 0, 0);
}
h1 {
    color: rgb(0, 0, 0);
  }
  li {
    list-style-type: none;
    text-decoration: none;
  }
 body {	text-align: center;
    font-family: comic sans, cursive;
  }