* {
    /* border: 0.01em solid black; */
    margin: 0px;
    padding: 0px;
    cursor: default;
}

ul * {
    text-align: justify;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: American Typewriter, serif;
   	align-items: center;
   	margin: 0;
    text-shadow: 4px 4px 5px #0000004c;  
    background-color: wheat;
}

/* HEADER */
header {
    width: 100%;
    height: 69px;
    position: fixed;
    background-color: #326422;
    /* background-color: white; */
    flex-wrap: wrap; /*quando a tela estiver pequena faz um item ir abaixo do outro */
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 1em 0.2em 1em;
}
header a {
	color: white;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
}
header a:hover {
	color: black;
}
header ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 0.1em 0em 0.1em 0em;
    border: 2px, solid black;
}

/* ----- */


/* SECTION 1 */

#secao1 {
    background-color: #2e7d32;
    padding-top: 3.4em;
    height: 30em;
}

h1 {
    text-align: center;
    color: white;
    font-size: 4em;
}

/* ----- */

.content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    flex-wrap: wrap;
}       


a, p {
    font-size: 2em;
}

.nome {
    list-style-position: inside;
    font-size: 2.3em;
    color: gray;
}

.nomes li{
    font-size: 1em;
    text-align: center;
}





h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
    color: gray;
}

.voltar {
    position: fixed;
    background-color: white;
    right: 10px;
    bottom: 10px;
}
