body {
  background-image: url(./assets/pngtree-white-abstract-vector-web-background-design-image_597636.jpg);
  background-size: contain;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 2.5%;
  text-align: center;
}

h2 {
  text-align: center;
}

.description {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.video-container {
  position: relative;
  width: 600px;
  padding-bottom: 56.25%; /* 16:9 */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 360px;
}

.git {
  width: 150px;
  height: auto;
}

.ico {
  width: 50px;
  height: auto;
}
