header {
    background-color: #6F7179;
    min-height: 25vh;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

header p {
  font-style: italic;
}

.gg-arrow-top-right-r {
  box-sizing: border-box;
  position: relative;
  display: inline-grid;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs,1));
  border-radius: 4px;
  cursor: pointer;
 }
 
 .gg-arrow-top-right-r::after,
 .gg-arrow-top-right-r::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 4px;
 }
 
 .gg-arrow-top-right-r::after {
  width: 10px;
  height: 2px;
  background: currentColor;
  transform: rotate(-45deg);
  bottom: 8px;
 }
 
 .gg-arrow-top-right-r::before {
  width: 6px;
  height: 6px;
  top: 4px;
  border-top: 2px solid;
  border-right: 2px solid;
 }

body {
  margin: 0;
  padding: 0;
  background: #DADADA;
}

header p{
  font-size: 200%;
  color: rgb(230, 230, 230);
}

/* Fontes */
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}

.card {
  width: 25vw;
  height: auto;
  min-height: 60vh;
  background-color: #A7A9AC;
  border: 0.3rem solid rgba(104, 104, 104, 0.689);
  transition: transform .2s;
}

.card:hover {
  box-shadow: rgba(69, 67, 68, 0.4) 5px 5px, rgba(133, 128, 131, 0.3) 10px 10px, rgba(71, 71, 71, 0.2) 15px 15px, rgba(88, 88, 88, 0.1) 20px 20px, rgba(124, 124, 124, 0.05) 25px 25px;
  transform: scale(1.1);
}

section {
  margin-left: 2.5rem;
  margin-top: 1.5rem;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.8rem;
}

section p {
  margin: 1rem;
}

dialog button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

section img {
  max-width: 25vw;
}

@media only screen and (max-width: 480px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }

  section img {
    max-width: 50vw;
  }

  .card {
    height: auto;
    min-height: 10vh;
    width: 50vw;
  }
}

@media only screen and (max-width) {
  
}