@media screen and (min-width: 720px) {
    body {

        background-color: rgb(12, 180, 34);
        font-size: large;
    }

}

@media screen and (max-width: 720px) {
    body {

        background-color: rgb(0, 179, 255);
        font-size: small;
    }

}