
html{
    background-color: #e2f47d;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

 .logo {
    font-size: 24px;
    color: #fff;
    text-align: right;
    align-items: center;
}

nav {
    justify-content: space-around;
    align-items: center;
    background-color: #23232e;
    height: 63px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
 /*Menu button - starts */
.btn {
    display: block;
    background-color: #247D9E;
    color: #fff;
    width: 65px;
    height: 60px;
    line-height: 50px;
    padding: 0 20px;
    cursor: pointer;
    transition: width .3s ease-in-out;
}
/* Menu button - ends */

/* Sidebar - starts */
.sidebar {
    background-color: #2B2E33;
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 1111;
    transition: transform .9s ease-in-out;
    transform: translateX(-250px);
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar ul a {
    position: relative;
    text-decoration: none;
    display: block;
    background-color: transparent;
    color: #BAB5BD;
    padding: 15px 20px;
    font-size: 16px;
}

.sidebar ul a:hover::before, .sidebar ul a.active::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #247D9E;
    width: 4px;
    height: 100%;
}

#menu:hover ~ .sidebar {
    transform: translateX(0);

}

#menu:hover + .btn {
    width: 300px;
    padding: 0 20px;
    
}