*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    border: none;
  }
  
  body {
      background-color: rgb(255, 138, 199);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  
  h1 {
      color: rgb(185, 245, 255);
  }
  
  label, div {
      color: #4184ae;
      font-size: large;
      padding: 10px;
      margin: 5px;
  }
  
  input{
    padding: 10px;
    margin: 5px;
    color: #173a8a;
    font-weight: bold;
  }
  
  button{
      background-color: rgb(54, 111, 161);
      color: rgb(220, 230, 240);
      padding: 5px;
      text-align: center;
      font-size: 16px;
      margin: 15px auto;
      display: block;
  
  }
  
  details {
      padding: 10px;
    }
  
    summary {
      font-weight: bold;
      cursor: pointer;
      padding: 10px;
    }
  
    code {
      font-family: 'Courier New', monospace;
      background-color: #ffffff;
      color: rgb(169, 119, 231);
      padding: 10px;
      border-radius: 5px;
      display: block;
    }
    
  #mostrar {
      background-color: rgb(99, 248, 188);
      color: rgb(20, 173, 96);
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
  }