body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    background-image: url('https://via.placeholder.com/1500x500');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero-text {
    max-width: 600px;
    margin: 0 auto;
}

.hero .cta {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff3b30;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.products {
    padding: 20px 200px;
    text-align: center;
}

.products h2 {
    margin-bottom: 30px;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    background-color: #1b143e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    max-width: 100%;
    border-radius: 10px;
}

.product h3 {
    margin: 10px 0;
}

.product p {
    color: #888;
    font-size: 1.2em;
}

