body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: serif, sans-serif;
    text-align: center;
    background-color: #07071d; /* Opcional: adicionar uma cor de fundo */
}

.container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 800px;
    background-color: #ffffff; /* Opcional: adicionar uma cor de fundo */
    padding: 20px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1); /* Opcional: adicionar sombra */
}

.rectangle {
    background-color: #e0e0e0; /* Cor do retângulo */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opcional: adicionar sombra */
}
