*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  border: none;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: rgb(0, 0, 0);
}

label, div {
    color: #000000;
    font-size: large;
    padding: 10px;
    margin: 5px;
}

input{
  padding: 10px;
  margin: 5px;
  color: #000000;
  font-weight: bold;
}

button{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    margin: 15px auto;
    display: block;

}
@keyframes piscar {
  0% { background-color: blue; }
            25% {background-color: green;}
            50% { background-color: red; }
            75% { background-color: yellow;}
            100% { background-color: blue; }
}

 .piscar {
  animation: piscar 500ms infinite;
}


details {
    padding: 10px;
  }

  summary {
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
  }

  code {
    font-family: 'Courier New', monospace;
    background-color: #000000;
    color: greenyellow;
    padding: 10px;
    border-radius: 5px;
    display: block;
  }
  
#mostrar {
    background-color: rgb(102, 102, 102);
    color: rgb(255, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}