/* reset.css */

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

ul {
    list-style-type: none;
}
/* styles.css */

body {
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.name {
    color: #0066cc;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    border-bottom: 2px solid #0066cc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.section ul li {
    margin-bottom: 5px;
}


img {
    width: 50px;
}