body {
    background-image: url("https://i.pinimg.com/originals/21/7c/dc/217cdc9baea459bbf2c9238d52a6b86e.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

body {	text-align: center;
}

h1 {
  color: white;
}