h1 {
    text-align: center;
    font-size: 30px;
    
}

body {
    background-color: rgb(255, 202, 238);
}

li {
    list-style-position: inside;
}
img {
    width: 700px;
}
.top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.fonte, p {
    font-size: 5,5px;
    font-family: "arial", serif;
}
li {
    list-style-position: inside;
    list-style: none;
}

a {
    text-decoration: none;
    color: #d90036;
}
a:hover {
    color: purple;
}
