* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white; /* Set all text to white */
  }
  
  .banner {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
  }
  
  .navbar {
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center; /* Alinha itens verticalmente no centro */
    justify-content: space-between;
  }
  
  .logo {
    width: 180px; /* Ajuste o tamanho conforme necessário */
    cursor: pointer;
  }
  
  .navbar ul {
    list-style: none;
    display: flex; /* Use flexbox para os itens do menu */
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    margin: 0 20px;
    position: relative;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white; /* Set text color to white for contrast */
    text-transform: uppercase;
  }
  
  .navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #347a87;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  .navbar ul li:hover::after {
    width: 100%;
  }
  
  .content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white; /* Set text color to white for contrast */
  }
  
  .content h1 {
    font-size: 50px;
    margin-top: 80px;
    text-shadow: 3px 3px 3px rgb(149, 148, 143);
  }
  
  .p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: white;
  }

  .content p{
    font-family: Courier New, monospace;
    margin-left:100px;
    margin-right:100px;
  }
  
  button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #347a87;
    background: transparent;
    color: white; /* Set text color to white for contrast */
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  span {
    background: #347a87;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  
  button:hover span {
    width: 100%;
  }
  
  button:hover {
    border: none;
  }
  