body {
    background: #88cc97;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 35%;
    height: 12cm;
    background: #276434;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 200px auto;
  }
  
  .container h2 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 40px;
    font-size: 33px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  ::placeholder {
    color: #B6B5B5; 
    padding-left: 12px;
    font-size: 18px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  input {
    background-color: #FBFBFB;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 19px;
    color: black;
    border-style: solid;
    border-color: rgb(78, 78, 78);
  }
  

 fieldset {
    margin: auto;
    border: none
 }

 label {
    display: block;
    margin: 0.5rem 0;
  }

  button {
    background-color: #26a576; 
    color: white; 
    padding: 12px 28px; 
    font-size: 20px; 
    border-radius: 8px; 
    border: 2px solid #1a4423;
    transform: translateX(235%);
    margin-top: 25px;
  }
  
  
  