img {
    border: 7px solid rgb(234, 242, 242);
    border-radius:50%;
    width: 480px;
    padding: 5px;
    
  }
  
  body{
    text-align: center;
    background-image: url(../img/fundo.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white;
  }

  