body {
  background-repeat: repeat;
  background-size: 100%;
  background-image: url(https://1.bp.blogspot.com/-zi5V0TRv4Fg/Xdlywfjq49I/AAAAAAAAfuk/fyHQrcoWqqgIDF9vP5y31-dYWrwpav43ACLcBGAsYHQ/s2560/abstract_huawei_mediapad_m6_stock-2560x1440.jpg);
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}




