* {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
  }
body{
    background-color: #c18fb4;
}
header{
    background-color: #30242d;
    padding-top: 20px;
    padding-bottom: 20px;
}
header * {
    color: white;   
}
header a {
    text-decoration: none;
  }
  
nav {
    grid-column-start: 1;
    grid-column-end:3;
  }
  li{
    font-family:DejaVu Sans Mono, monospace;
    font-size: 25px;
  }
  nav li {
    list-style: none;
    cursor: pointer;
    display: inline;
  }
  
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }
  h1{
    padding-top: 40px;
    text-align: center;
    font-size: 35px;
    font-family: garamond;
    color: #30242d;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  
  .box {
    background-color: #30242d;
    border-radius: 10px;
    padding: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  p{
    color: white;
  }
  
  