html {
  scroll-behavior: smooth;
}
body, ul {
    margin: 0;
    padding: 0;
  }
  
  .sidebar {
    background-color: darkgray;
    width: 230px;
    height: 1000px;
    position: fixed;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 20px;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 5px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: black;
  }
  
  .content {
    margin-left: 200px;
    padding: 20px;
  }
  
  .content h1 {
    color: #333;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  }
  
  .textao {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 180px;
    padding-top: 0;
    width: 1000px;
    height: 60%;
    font-family: Arial, Helvetica, sans-serif;
  }