@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.donate {
  /*padding: 50px*/
  background-color: #6970dd;
  width: 500px;
  color: #ffffff;
}

.donate p {
  line-height: 24px;
  font-size: 14px;
  font-weight: 300;
}

.donate h3 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}

.denomination {
  float: left;
  width: 33%;
  text-align: center;
  padding: 13px 0;
  cursor: pointer;
  background-color: #9497c5;
  margin: 0 1px 1px 0;
  transition: background-color 0.2s ease;
}

.denomination label {
  font-weight: 600;
  cursor: pointer;
}

.denomination input {
  left: -10001px;
  position: absolute;
}

.denomination-other {
  width: 99.8%;
}

.denomination-other input {
  position: relative;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  width: inherit;
  text-align: center;
  background-color: #171b24;
  border: none;
  padding: 13px 0;
  transition: background-color 0.2s ease;
}

.denomination-other input:hover {
  background-color: #21f0f0;
}

.denomination-other input:before {
  position: absolute;
  left: 6px;
  top: 2px;
  content: "$";
}

.donate-amount .selected, .denomination-other input.selected, .donate-amount .denomination:hover {
  background-color: #21f0f0;
  border: 0;
}

.donate-black h2 {
  font-family: "Oswald", sans-serif;
  color: #FFF;
  font-size: 32px;
  margin-bottom: 30px;
}

.donate-black h2 span {
  display: block;
  float: left;
  font-size: 16px;
  padding-top: 7px;
  margin-right: 20px;
  text-align: center;
  width: 30px;
  height: 25px;
  background-color: #21f0f0;
  border-radius: 50%;
}

.donate-type label,
.donate-payment label {
  font-size: 14px;
  font-weight: 300;
  margin-right: 30px;
}

.donate-blue {
  background-color: #bbc4ce;
  padding: 25px;
}

.donate-black {
  padding: 25px;
}

.donate-submit button {
  font-family: "Oswald", sans-serif;
  width: 100%;
  background-color: #21f0f0;
  border: none;
  color: #FFF;
  font-size: 20px;
  line-height: 20px;
  padding: 14px 0;
  margin: 30px 0;
  text-transform: uppercase;
  cursor: pointer;
}

.donate-submit small {
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
}

:-moz-placeholder {
  color: #FFF;
  font-weight: 300;
}

::-moz-placeholder {
  color: #FFF;
  font-weight: 300;
}

:-ms-input-placeholder {
  font-weight: 300;
  color: #FFF;
}

*:focus {
  outline: none;
}

.radio input[type=radio] {
  position: absolute;
  opacity: 0;
}

.radio .radio-label {
  cursor: pointer;
  font-weight: bold;
}

.radio input[type=radio] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.radio input[type=radio]:checked + .radio-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE;
}

.radio input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #771616;
}

.radio input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}