* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #FFFFE4;
}

header {
  position: absolute;
  z-index: 21;
  padding: 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  gap: 20px;
}

header h1 {
  font-family: 'Poppins', sans-serif;
  color: #299640;
  align-self: end;
}

span {
  color: #7ECB29;
}

.logo {
  opacity: 1;
  width: 5rem;
}

.slider {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 100vh;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

img {
  width: 100vw;
  object-fit: cover;
  opacity: .3;
}

.manual-navigation {
  position: absolute;
  width: 100vw;
  margin-top: -3.125rem;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid black;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
}

.manual-btn + .manual-btn {
  margin-left: 40px;
}

.manual-btn:hover {
  background-color: #00A651;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -25%;
}
#radio3:checked ~ .first {
  margin-left: -50%;
}
#radio4:checked ~ .first {
  margin-left: -75%;
}
#radio5:checked ~ .first {
  margin-left: -100%;
}

.navigation-auto div{
  border: 2px solid #00A651;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  /* transition: .5s; */
}

.navigation-auto {
  position: absolute;
  width: 100vw;
  margin-top: 58.8rem;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #00A651;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #00A651;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #00A651;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #00A651;
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
  background-color: #00A651;
}