@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Open+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(244, 244, 244);
}

body::-webkit-scrollbar {
    width: 0.01px;
}

header {
    background-color: #001305;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

h1 {
    color: white;
    margin-left: 20px;
    font-size: 3vh;
}

h2 {
    font-family: 'Cinzel Decorative', serif;
    font-size: 5vh;
}

.nav {
    display: flex;
}

.nav li {
    margin: 0 20px;
    list-style: none;
    transition: 0.5s ease-in-out;
}

.nav a {
    text-decoration: none;
    font-size: 2.1vh;
    color: white;
    transition: 0.5s;
}

.nav a:hover {
    color: #3EB83C;
}

.nav li:hover {
    transform: scale(115%);
}

.logo {
    width: 4vw;
}

.left {
    display: flex;
    align-items: center;
}

/* SECTION GERAL */

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PROBLEMA */

#problema {
    height: 100vh;
}

.texto {
    width: 60vw;
    height:80vh;
}

.grid-problema {
    display: grid;
    grid-template-columns: 1fr 400px;
}

#problema h2 {
    grid-column: 1 / -1;
}

#problema p {
    font-size: 2.8vh;
    margin-top: 250px;
}

#problema img {
    width: 400px;
    margin-top: 70px;
}

/* OBJETIVOS */

#objetivos {
    height: 100vh;
    color: white;
    background-color: #001305;
}

#objetivos h3 {
    font-size: 3vh;
    font-family: 'Cinzel Decorative', serif;
    margin-top: 100px;
}

#objetivos p {
    font-size: 2vh;
    color: #c8c8c8;
    margin-top: 20px;
}

#objetivos ul {
    margin-top: 20px;
}

#objetivos li {
    font-size: 2vh;
    color: #c8c8c8;
    list-style-position: inside;
}

/* METODOLOGIA */

#metodologia {
    height: 105vh;
}

#metodologia h2 {
    padding-bottom: 50px;
}

#metodologia p {
    font-size: 2vh;
    margin-top: 20px;
}

.texto-metodologia {
    height: auto;
    width: 60vw;
}

#metodologia a {
    color: #3EB83C;
    transition: .5s;
}
#metodologia a:hover {
    color: #228620;
}

.form-button {
    padding: 8px 16px;
    font-size: 2vh;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3EB83C;
    box-shadow: 1px 1px 4px #001305;
    transition: .3s;
    cursor: pointer;
}

.form-button:hover {
    transform: scale(105%);
    box-shadow: 2px 2px 5px #001305;
}

dialog::backdrop {
    background-color: #141414a1;
}

dialog[open] {
    display: grid;
    margin: auto;
    padding: 20px;
    font-size: 2vh;
    background-color: #f1f1f1;
    border-radius: 12px;
    width: 50vw;
    border: none;
}

dialog li {
    list-style-position: inside;
    margin-bottom: 5px;
}

dialog button {
    padding: 10px 20px;
    width: 5vw;
    font-size: 2vh;
    margin: 15px auto 0 auto;
    background-color: #3EB83C;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #001305;
    cursor: pointer;
}

/* RESULTADOS */

#resultados {
    height: 100vh;
    background-color: #001305;
    color: white;
}

#resultados p {
    font-size: 2vh;
}

.grid-result {
    display: grid;
    grid-template-columns: 1fr 550px;
    gap: 40px;
    margin-top: 180px;
}

#resultados img {
    align-self: center;
    justify-self: center;
}

/* SOLUCAO */

#solucao {
    height: 100vh;
}

#solucao p {
    font-size: 2vh;
    align-self: center;
    justify-self: center;
}

#solucao img {
    max-width: 100%;
    align-self: center;
    justify-self: center;
}

.grid-solucao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
}

/* CONCLUSOES */

#conclusoes {
    height: 100vh;
    background-color: #001305;
    color: white;
}

#conclusoes p {
    font-size: 2vh;
    align-self: center;
    justify-self: center;
}

#conclusoes img {
    max-width: 100%;
}

.grid-conclusao {
    display: grid; 
    grid-template-columns: 600px 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

/* REFERENCIAS */

#referencias {
    height: 100vh;
}

#referencias p {
    margin-top: 20px;
    font-size: 1.7vh;
}

.grid-ref {
    display: grid;
    grid-template-columns: 800px 800px;
    margin-top: 140px;
}

.ref-left {
    border-right: 1px solid #001305;
    padding-right: 20px;
}

.ref-right {
    border-left: 1px solid #001305;
    padding-left: 20px;
}