/* Estilos básicos */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  section {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .links ul {
    list-style: none;
    padding: 0;
  }
  
  .links ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .links ul li img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }
  