* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #65def9;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 2.25rem;
    color: #373d54;
    font-family: 'Oswald';
}

.input-form {
    color: #373d54;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

input {
    background-color: #dbdee7;
    border-width: 1px;
    height: 30px;
}

button {
    padding: 5px;
    color: #373d54;
}

#tasklist {
    display: flex;
    
    flex-wrap: wrap;
}
.click {
    cursor: pointer;
    margin: -4px 0;
}
.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #373d54;
    border-radius: 10px;
    padding: 6px 12px;
    margin: 10px;
}

.item div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}