/* Default styles */

body {
  background-color: #a5dde3;
}

html {
  cursor: default;
  scroll-behavior: smooth;
}

.nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-size: 16px;
  text-align: center;
  background: #5c5acb;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
}

.nav li {
  display: inline-block;
  margin: 0 0.5em;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.nav a {
  display: block;
  padding: 0.8em 0.6em;
  color: #eae2e2;
  text-decoration: none;
}

.nav a:hover {
  background-color: #566c6f;
  color: white;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.nav a:active {
  background: black;
  color: rgb(250, 248, 248);
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  border-top: 0;
}

.nav .navtoogle {
  display: none;
  width: 100%;
  padding: 0.5em 0.5em 0.8em;
  text-align: left;
  font-size: 1.2em;
  background: none;
  border: none;
  height: 45px;
}

.nav .navtoogle:before {
  content: "\2630";
  padding-right: 0.5em;
  font-size: 1.2em;
}

h1 {
  font-size: 28px;
  padding-top: 25px;
  text-align: center;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px #55898e;
}

h2 {
  font-size: 23px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-family: sans-serif;
  color: #1b1c1c;
  text-shadow: 2px 2px 4px rgb(157, 156, 156);
}

p {
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.container-preto {
  background-color: rgb(44, 143, 173);
  padding: 10px;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  border-radius: 20px;
}

img {
  margin-left: 260px;
  border-radius: 20px;
}

.container-branco {
  background-color: rgb(235, 240, 240);
  padding: 10px;
  color: rgb(3, 3, 3);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  border-radius: 20px;
}

ul {
  font-family: courier, monospace;
  font-weight: bold;
  color: #3b4141;
}

.objetivos {
  background-image: url("img/marmore.jpg");
  background-size: cover;
}

.container {
  background-color: #5c5acb;
  padding: 10px;
  color: rgb(242, 236, 236);
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(14, 13, 13);
  box-shadow: 10px 10px 8px #888888;
}

.final {
  background-image: url("img/marmore.jpg");
  background-size: cover;
  color: #3b4141;
}

.referencias {
  text-align: left;
}
 
.referenciaex{
  background-color: #eae2e2;
}

footer {
  background-color: #5c5acb;
  color: #d1309e;
  padding: 40px;
  text-align: center;
}
.podcast-container {
  max-width: 560px;
  margin: 0 auto;
  margin-right: 220px; 
}



/* Responsive styles */

@media screen and (max-width: 720px) {
  body {
    background-color: rgb(33, 126, 165);
  }

  .container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .container-preto,
  .container-branco {
    margin-left: 10px;
    margin-right: 10px;
  }

  img {
    margin-left: 0;
    width: 50vw;
    height: auto;
  
    
  }
  .podcast-container {
    width: 90%;
    margin: 0 auto; 
  }

  .podcast-container iframe {
    width: 100%;
    margin: 0 auto; 
  }
}


