
html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    display: inline-block;
}

button{
    cursor: pointer;
}

.person{
    position: absolute;
    left: 97%;
    top: 10%;
}

.calculator{
    position: absolute;
    left: 94.5%;
    top: 10%;
}

header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -15px;
    font-size: 30px;
    padding: 0px 30px;
    display: inline-block;
}

header nav ul li a:hover {
    color: rgb(255, 255, 255);
}

nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 5px;
    font-size: 25pt;
    position: relative;
    
}

nav a::after{
    content: "";
    width: 0%;
    height: 4px;
    background-color:rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    left: 5%;
    right: 11%;
    transition: 0.5s ease-in-out;
    margin-top: 10px;
}

nav a:hover::after {
    width: 70%;
    padding-left: 25px;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

h1{
    font-size: 50px;
    color: white;
    position: absolute;
    top: 25%;
    left: 25%;
}

h4{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 38%;
    left: 40%;
}

.fundo{
    background-color: black;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.no-debug{
    padding-top: 45%;
}

.first{
    margin-left: 120px;
    padding-left: 10px;
    border: 2px solid rgb(0, 255, 17);
    border-radius: 30px;
    width: 85%;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: auto;
}

.grid2{
    display: grid;
    grid-template-columns: auto auto auto;
}

footer{
    background-image: url(./assets/telapreta.jpg);
    color: white;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-left: -7.7px;
    margin-right: -8.45px;
    margin-bottom: -67px;
    padding-left: 20px;
}

.video{
    padding-left: 10px;
    padding-top: 10px;
    border: 3px solid rgb(0, 255, 17);
    border-radius: 10px;
    width: 95%;
    height: 100%;
    margin-left: 0;
    margin-right: 500px;
    

}

@media screen and (min-width: 720px) {
    body {

    }
}

@media screen and (max-width: 720px) {
}
