body {
   background-color: rgb(60, 59, 59); 
}

h1 {
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    list-style: none;
    text-align: center;
    padding: 3px;
}

a {
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8em;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
    color: white;
}