body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('');
    background-size: cover; /* para cobrir todo o espaço do corpo */
    background-position: center; /* para centralizar a imagem */
    background-repeat: no-repeat; /* para não repetir a imagem */
    color: rgb(0, 0, 0);

}

header {
    background-color: #00005a;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main { 
    padding: 2rem;
}

h2 {
    margin-top: 0;
}

section {
    margin-bottom: 2rem;
}

audio,
iframe {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}

svg:hover {
    
    transform: scale(120%);
    transition: 100ms linear; 


    /* Estilos para o feed do Instagram */
    /* Você pode usar bibliotecas como Instafeed.js para carregar o feed do Instagram */
}