#form{
    width: 400px;
    /* height: 800px; */
	margin: 70px auto;
	text-align: center;
	position: relative;
    background: #ffb8ec;
}

#form fieldset{
    border: none;
	border-radius: 3px;
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: relative;
}

#form input{
    margin-bottom: 10px;
}

.voltar{
    display: flex;
}

fieldset{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.field-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

fieldset div {
    display: flex;
    justify-content: start;
    width: 100%;
    text-align: center;
}

.next{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.461);
    padding: 5px;
}