* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #989797;  */
    background-image: url(https://img.freepik.com/vetores-premium/um-padrao-simples-de-escola-sem-costura-com-um-jogo-da-velha-fundo-preto-e-branco_172597-451.jpg);
    background-size: cover; 
  }
  
  main {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  h1 {
    text-align: center;
    font-family: 'Pixelify Sans', Arial, sans-serif;
    font-size: 50px;
  }

  h2{
    font-family: 'Pixelify Sans', Arial, sans-serif;
    font-size: 30px;
  }
  
  hr {
    font-weight: bold;
    height: 3px;
    background: black;
    margin-bottom: 10px;
  }
  
  .game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 60px;
    font-family: 'Pixelify Sans', Arial, sans-serif;
    border-radius: 40px;
    background: #f7f7f7;
  }