@media screen and (min-width: 896px) {
html{
    background-color: #000000;
}
h1{
    color: antiquewhite;
    text-align: center;
    grid-column: 1/-1;
} 

h2, h3{
    color:darkorchid;
    margin-left: 15%;

}
body{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
iframe{
    margin-bottom: 15%;
    margin-left: 15%;
}
.image_full{
    display:block;
   }
 
  .image_mobile{
   display:none;
  }
}
@media screen and (max-width: 896px) {
 
    html{
        background-color:white;
    }
    h1{
        color: darkorchid;
        text-align: center;
        grid-column: 1/-1;
    } 
    
    h2, h3{
        color:black;
        margin-left: 15%;
    
    }
    iframe{
        margin-left: 15%;

    }
    .image_full{
        display:none;
       }
     
       .image_mobile{
        display:block;
       }
      }
