body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0d2b4b;
    color: white;
    text-align: center;
    padding: 2em;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

h1, h2, h3 {
    color: #007bff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

footer {
    background-color: #0d2b4b;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.git {
    width: 70px;
    height: 70px;
}
.mi {
    width: 70px;
    height: 70px;
}
.images {
    width: 70px;
    height: 70px;
}