@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

*{
    color: white;
    margin: 0;
    font-family: 'inter',sans-serif;
}
body{
    background-color: black;
}
h1{
    color: white;
    font-weight: 100;
}
header{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
a img {
    width: 45px;
}
.links a {
    margin-right: 10px;
    cursor: pointer;
}
#name {
    font-size: 50px;
}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
#title div{
    background-color: rgba(255, 255, 255, 0.13);
    padding: 30px;
    border-radius: 20px;
    margin-left: 30px;
}
#habilidades{
    background-color: rgb(2, 2, 2);
    margin-top: 10vh;
    padding-top: 7vh;
    padding-bottom: 7vh;
}
#habilidades div{
    justify-content: center;
    align-items: center;
    display: flex;
}
#habilidades div ul{
    background-color: rgba(255, 255, 255, 0.13);
    padding: 30px;
    border-radius: 20px;
    margin-left: 30px;
}
h2{
    font-weight: 100;
    margin-left: 10vw;
    margin-bottom: 5vh;
}
p{
    font-weight: 100;
}
#index div{
    justify-content: center;
    align-items: center;
    display: flex;    
}
#index a{
    background-color: rgba(255, 255, 255, 0.13);
    padding: 20px;
    border-radius: 20px;
    margin-left: 30px;
}
#index{
    margin-top: 5vh;
    margin-bottom: 7vh;
}
@media screen and (max-width: 450px){
    #title{
        display: block;
        margin-left: 0;
    }
    #title div{
        margin-left: 0;
    }
    #habilidades div{
        display: block;
    }
    #habilidades div ul{
        margin-left: 0;
        margin-top: 30px;
    }
    #index div{
        display: block;
    }
    #index p{
        margin-bottom: 50px;
    }
    #index a {
        margin-left: 0;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
