
    @media screen and (min-width: 896px) {      
        * {
            margin: 0px;
            padding: 0px;
            font-family: New Century Schoolbook, TeX Gyre Schola, serif;
            font: 500;
        }
        
        html {
            height: 100%;
            scroll-behavior: smooth;
        }
    
        body {
           background-color: chocolate;
            background-attachment: fixed;
        }
    
        
        header {
            background-color: rgb(0, 0, 0);
            z-index: 1; 
            justify-content: space-between;
        }
    
        .header2 {
            display: flex;
            margin: 0px;
            margin-bottom: 1em;
    
        }
        
        header  > h1{
            padding: 10px;
            color: white;
            font-size: 3.0em;
        }
        
        menu {
            display: none;
        }
        
        menu > ul {
            list-style-type: none;
        }
        
        menu > ul > li > a {
            display: block;
            padding: 10px;
            text-decoration: none;
            background-color: rgb(37, 37, 37);
            color:white;
            text-align: center;
            border-top: 2px solid gray;
        }
        
        menu > ul > li > a:hover {
        background-color: rgb(56, 56, 56);
        color: white;
        }
    
        main {
            width: 90vw;
            margin-top: auto;
            margin-top: 10px;
            padding: 10px;
            border-radius: 10px;
        }
    
        span#burguer {
            background-color: black;
            margin-top: 10px;
            text-align: center;
            color: white;
            padding: 10px;
            cursor: pointer;
            width: 50px;
        }
        
        span#burguer:hover{
            background-color: white; 
            color: black;
        }
    
        .displayods {
            gap: 0.5em;
            margin-left: 5%;
            margin-right: 40em;
             display: flex;
             margin-top: 0.5em;
        }
    
        .box1 {
            width: 500px;
            height: 9em;
        }
    
    
        .insta {
            width: 50px;
            margin-top: 5px;
            margin-left: 3em;
        }
    
        .imgeu {
            width: 300px;
           border: 5px solid black;
           height: 300px;
           border-radius: 30px;
        }
    
        .introducao {
            display: flex;
            text-align: justify; 
            width: 90%
        }
    
        .title {
            font-size: 2.5em;
        }

        .title1 {
            font-size: 2.0em;
            margin-top: -1.5em;
        }
    
        .title2 {
            font-size: 2.0em;
            margin-top: 0.5em;
        }
    
        p {
            font-size:24px ;
            text-align: justify;
        }
    
        .p1 {
            opacity: 0;
        }
    
        .final{
            background-color: black;
        }
    
        h3 {
            font-size: 1.5em;
            color: white;
            
        }

        .opacity {
            font-size: 24px;
            text-align: justify;
        }
    }



@media screen and (max-width: 896px) {

    * {
        margin: 0px;
        padding: 0px;
        font-family: New Century Schoolbook, TeX Gyre Schola, serif;
        font: 500;
    }
    
    html {
        height: 100%;
        scroll-behavior: smooth;
    }

    body {
        background-image: url(assets/fundocelular.png);
        background-attachment: fixed;
    }

    
    header {
        background-color: rgb(0, 0, 0);
        z-index: 1; 
        justify-content: space-between;
    }

    .header2 {
        display: flex;
        margin: 0px;
        margin-bottom: 1em;

    }
    
    header  > h1{
        padding: 10px;
        color: white;
        font-size: 1.5em;
    }
    
    menu {
        display: none;
    }
    
    menu > ul {
        list-style-type: none;
    }
    
    menu > ul > li > a {
        display: block;
        padding: 10px;
        text-decoration: none;
        background-color: rgb(37, 37, 37);
        color:white;
        text-align: center;
        border-top: 2px solid gray;
    }
    
    menu > ul > li > a:hover {
    background-color: rgb(56, 56, 56);
    color: white;
    }

    main {
        width: 90vw;
        margin-top: auto;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
    }

    span#burguer {
        background-color: black;
        margin-top: 3px;
        text-align: center;
        color: white;
        padding: 10px;
        cursor: pointer;
    }
    
    span#burguer:hover{
        background-color: white; 
        color: black;
    }

    .displayods {
        gap: 0.5em;
        margin-left: 5%;
        margin-right: 40em;
         display: flex;
         margin-top: 0.5em;

    }

    .box1 {
        width: 225px;
        height: 9em;
    }


    .insta {
        width: 50px;
        margin-top: 5px;
        margin-left: 3em;
    }

    .imgeu {
        width: 125px;
       border: 5px solid black;
       height: 125px;
       border-radius: 30px;
    }

    .introducao {
        display: flex;
        text-align: justify; 
        width: 90%
    }

    .title {
        font-size: 1.5em;
    }

    .title1 {
        font-size: 1.5em;
         margin-top: 0.5em;
    }

    .title2 {
        font-size: 1.5em;
        margin-top: 0.5em;
    }

    p {
        font-size:14px ;
        text-align: justify;
    }

    .p1 {
        font-size: 14px;
        margin-left: 1em;
        text-align: justify;
    }

    .final{
        background-color: black;
    }

    h3 {
        font-size: 1em;
        color: white;

    }

    .opacity {
        opacity: 0;
    }
}