body {
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url(imagemsite.jpg);
    background-size: cover;
}

a {
    color: cyan;
}

li {
    list-style-type: none;
}

a:hover {
    color: blue;
}