html{
    background-color: rgb(33, 33, 33);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family:sans-serif;
}

   
    
.box{
 background-color: #8aff00;
 border-radius: 20px;
 margin-right: auto;
 margin-left: auto;
 width: 450px;
 transition: 0.5s;
}
#index{
    font-size: 72px;
    color: #FE0472;
    text-align:center;
}
img{
 border-radius: 20px;
 margin-left: 5%;
 margin-right: auto;
 margin-bottom: 5%;
 object-fit: cover;
}
h2 {
    text-align: center;
    
}
.box img {
    display: block;
    margin: auto auto 22.5px auto;
}
.display {
    margin-left: 8em;
    margin-right: 8em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5em;
}
.box:hover {
    background-color: #FE0472;
    transition: 0.5s;
    width: 85%;
    align-items: center;
}
#index a {
    text-decoration: none;
}

