header {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(223, 90%, 60%));
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
    padding: 10px;
    text-shadow: 
    -1px -1px 0 black, 
    1px -1px 0 black, 
    -1px 1px 0 black, 
    1px 1px 0 black; 
}

main {
    background-color: hsl(223, 90%, 60%);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    text-align: left;
    color: yellow;
    padding-left: 15px;
    text-shadow:
    -1px -1px 0 black, 
    1px -1px 0 black, 
    -1px 1px 0 black, 
    1px 1px 0 black;
}

footer {
    background: linear-gradient(hsl(223, 90%, 60%), hsl(223, 90%, 60%), hsl(186, 76%, 16%));;
}