body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.nome {
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}
 
nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  margin-top: 3em;
}
.portfolio h2 {
  color: #333;
  text-align: center;
  font-size: 5em;
}

.work {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.work-item {
  border: 2px solid #ccc;
  padding: 10px;
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work img {
  width: 20em;
  display: block; 

}

.work a {
  text-align: center;
  margin-top: 1em; 
  text-decoration: none;
  color: black;
}

.work figcaption {
  text-align: center;
  margin-top: 1em;
}
