* { 
    /* Essa parte faz todos os elementos terem isso como base */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(179, 176, 176) ;
}
#title {
    text-align: center;
    font-size: 40px;
}
#name {
    text-align: end;
    font-size: 20px;
}
.container {
    max-width: 60vw;
    display: grid;
    justify-content: center;
    background-color: rgb(64, 63, 63);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 3px 2px 4px rgb(0,0,0,0.5);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.imagens img {
    max-height: 20vw;
    border-radius: 10px;
}
.imagens {
    display: grid;
    grid-template-columns: auto ;
    text-align: center;
    gap: 60px;
}
.imagens div {
    padding: 10px;
    background-color: rgb(196, 196, 196);
    border-radius: 20px;
    font-size: 10px;
}