@keyframes fundo {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}}

body{
    background: linear-gradient(-150deg, darkblue, darkgreen,darkgreen,darkblue );
	background-size: 100% 100%;
	height: 100vh;
	text-align: center;
}

a{
	text-decoration: none;
	color:peru;
	font-size:xx-large;
	
}
h1{
	color:lime;
	animation: infinite 5s fundo; 

}
h2{
	color:lime;
	animation: infinite 5s fundo; 
	font-family: Verdana;
}

h3{
color:lime;
animation: infinite 5s fundo; 
font-family: Verdana;
font-size:x-large;
}


@media screen and (max-width: 720px)
{	
}