*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

body, html{

position: absolute;

top: 0;

left: 0;

bottom: 0;

right: 0;

overflow: hidden;

}

.color{

    position: absolute;

    z-index: 0;

}

.c1{

    top: 0;

    left: 0;

    bottom: 0;

    background: rgba(56, 61, 55, 0.288);

    animation: color-width 8s ease-in-out infinite;

    z-index: 1;

}

.c2{

    left: 0;

    right: 0;

    bottom: 0;

    background: rgba(56, 61, 55, 0.288);

    animation: color-height 8s ease-in-out infinite;

    animation-delay: 2s;

    z-index: 2;

}

.c3{

    top: 0;

    left: 0;

    bottom: 0;

    background: rgba(56, 61, 55, 0.288);

    animation: color-width 8s ease-in-out infinite;

    animation-delay: 3s;

    z-index: 3;

}

.c4{

    left: 0;

    right: 0;

    bottom: 0;

    background: rgba(56, 61, 55 , 0.288);

    animation: color-height 8s ease-in-out infinite;

    animation-delay: 5s;

    z-index: 4;

}

@keyframes color-width {

    0%{ width: 0;}

    50%{width: 41%;}

    100%{width: 0;}

}

@keyframes color-height {

    0%{ height: 0;}

    50%{ height: 41%;}

    100%{ height: 0;}

}

h1{

    text-align: center;

    color: rgb(198, 204, 198);

    -webkit-text-stroke-width: 1px;

    -webkit-text-stroke-color: #cfd6d1;

}

body{

background-color: rgb(44, 39, 39);

}

h2{

    margin-top: 40px;

    text-align: center;

}

 

img {

    width: 300px;

    height: 300px;

}

 

.link {

    z-index: 5 !important;

    position: relative;

}

 

figure {

    height: 10px;

}

 

a {

    z-index: 5 !important;

}
