header {
    text-align: center;
    padding: 1vw;
    color: white;
    font-size: 2vw;
}

body {
    background-color: rgb(86, 86, 86);
}

a {
    color: white;
    text-decoration: none;
}

a::after {
    color: white;
}

details {
    text-align: center;
    font-size: 1.5vw;
    padding: 0.6vw;
}

button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 35vw;
    position: relative;
    top: -29vw;
    left: 3vw;
}