body {
  font-family: sans-serif;
  background-color: antiquewhite;
  margin: 10%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

#posts {
  width: 400px;
}

i {
  cursor: pointer;
}

i:hover {
  transform: scale(1.5);
}

#posts div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  display: flex;
  gap: 25px;
}

#msg {
  color: red;
}

textarea {
  border-radius: 10px;
  width: 30vw;
  height: 35vh;
}

.resultados {
  border: 2px solid black;
  border-radius: 10px;
  max-height: 37vh;
  overflow-y: scroll;
}

.right {
  margin: 40px;
}

button {
  width: 10vw;
  font-size: 15px;
}

h1 {
  text-align: center;
}