body{
    background-color: rgb(189, 127, 255);
}
.h2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}   
.style_div{
    background-color: rgb(189, 127, 255);
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 4%;
    margin-left: 30%;
    margin-right: 30%;
 
}
.style_div{
    background-color: rgb(189, 127, 255);
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 4%;
    margin-left: 30%;
    margin-right: 30%;
 
}
.style_div{
    background-color: rgb(189, 127, 255);
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 4%;
    margin-left: 30%;
    margin-right: 30%;
 
}
.mostrar{
    background-color: rgb(240, 248, 255);
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 4%;
    margin-left: 30%;
    margin-right: 30%;

}