html {
   background-color: #ffdb58;
    background-size: 160%;
    
}
h1, h2, h3, h4, p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}
h1 {
 text-align: center;
}


.container{
    display: grid;
    grid-auto-flow: row;
}
.item {
    display: flex;
}
p{ 
    padding: 2% 2%;
}
button {
    width: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}