@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans);

body {
  background-color: blue;
  padding-bottom: 100px;
  margin: auto;
}


h1, h2 {
  font-family: Montserrat;
  color: white;
}


p, ul, a {
  font-family: Open Sans;
  color: gray;
}


ul {
  line-height: 26pt;
}


img {
  float: left;
  margin-right: 30px;
  width: 130px;
  border-radius: 50%;
}


#curriculo {
  background-color: black;
  width: 500px;
  height: auto;
  border-radius: 0px 0px 20px 20px;
  padding: 80px;
  margin: auto;
}


#topo {
  width: 450px;
  height: 130px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}


hr {
	border: 0;
	border-top: 1px solid #1f1f1f;
  margin-bottom: 50px;
}
img{
    width: 60px;
}

.redes {
    display: inline-flex;
}