
    @media screen and (min-width: 720px) {
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 1; 
}

span#burguer {
    background-color: black;
    display: block;
    margin-top: 10px;
    text-align: center;
    color: white;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover{
    background-color: white; 
    color: black;
}

menu {
    display: none
}

.parte{
    margin-top: 40em;
}




.hensel {
    color: white;
    margin-top: 10px;
    font-size: 2.5em;
}

}



@media screen and (max-width: 720px) {


}
