body {
	background:#7755cf;
	
	text-align: center;
	font-family: Serif;

	
}

.dividido {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-right: 100px;
	margin-left: 100px;
}

