
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color:#c6c1c1;
        }

        header {
            text-align: center;
        }

        h1 {
            color: #4b4343;
        }

        section {
            margin-bottom: 20px;
        }

        h2 {
            color: #383333;
        }
        h3 {
            color: #3f3b3b;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 5px;
            color: #000000;
        }

        p {
            color: #171515;
            margin: 0;
        }
        .social-icons {
            font-size: 24px;
            margin-top: 10px;
        }

        .social-icons a {
            margin-right: 10px;
            color: #000000;
        }