body {
	background:#8bc0d8

}
.centro{
	margin-left: 25%;
}
img {
	border-radius: 10px;
}
.c img {
	height: 300px;
	border-radius: 20px;
	margin: 15px;
}
.c {
	display: inline-flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
}
a {
	text-decoration: none;
	color: black;
	padding: 0.2rem;
	border-radius: 0.8rem;
	
}


video {
position: fixed;
right: 0;
bottom: 0;
z-index: 1;
}
.texto {
	font-size: 20px;
	color: rgb(9, 106, 141);
}
.body {
	position: none;
	z-index: 20;
	text-align: left;
	left: 15%;
}
figcaption > p {
	font-size: xx-large;
}
.coelhofoda{
	margin-left: 72%;
	margin-top: -8%;
}
.nascer{
	margin-top:-17%;
}
h1{
	font-family: 'Times New Roman', Times, serif;
	font-size:200%;
}
.logo{
	height: 150px;
}


