*{
padding: 0%;
margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 1rem;
    margin-top:1rem;
    text-align: center;
}
ul {
    list-style: disc;
}

.logos{
    width:5rem;
    margin-top:10rem;
}
.content{
    display: flex;   
}
body{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(122,122,122,1) 50%, rgba(255,255,255,1) 100%);
}