* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.imgs {
    width: 550px;
    border-radius: 1em;
}

.imgs:hover {
    width: 40em;
}

.imge {
    width: 35em;
}

.log {
    width: 15em;
    border-radius: 3em;
}

header {
    padding: 1em 0%;
    position: fixed;
    width: 100%;
    background-color: cornflowerblue;
    border: 1px solid black;
    z-index: 9999;
}

header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    padding: 0.02em 0.5em;
    display: inline-block;
}

header nav ul li a:hover {
    color: cyan;
}

section { 
    width: 100%;
    height: 30em;
}

section:nth-child(even) {
    background: white;
}

section:nth-child(odd){
    background: #3c4f60;
}

section, footer {
    padding-top: 10em;
    padding-bottom: 5em;
}

.tamanho {
    width: 100%;
    height: 30em;
}

.foto {
    width: 100%;
    height: 30em;
}

.home {
    display: flex;
}

.home img {
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article {
    width: 100%;
    text-align: center;
}

[data-anima] {
    opacity: 0;
    transition: .5s;
}

[data-anima="esquerda"] {
    transform: translate3d(-50px,0,0);
}

[data-anima="direita"] {
    transform: translate3d(50px,0,0);
}

[data-anima="centro"] {
    transform: translate3d(0,50px,0);
}

[data-anima].animacao {
    opacity: 1;
    transform: translate3d(0,0,0);   
}

p {
    font-size: 80;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.u {
    font-size: 30;
    font-family: Arial, Helvetica, sans-serif;
    background: gray;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.u:hover {
    background-color: darkgrey;
    color: cyan;
}

.separar {
    margin-top: 1em;
}

.sepa {
    margin-top: 0.5em;
}

h1 {
    margin-top: 1.5em;
    font-size: 120;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    margin-top: 0%;
    font-size: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-size: 80;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h6 {
    text-align: right;
    font-size: 0.7em;
}
