body {
    text-align: center;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
