* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgb(105, 21, 205), rgb(38, 114, 251));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: #ccc;
}


nav {
    width: auto;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 50px;
    font-size: 18px;
}

a {
    color: #ccc;
}

h2 {
    margin: 10px 0;
    text-align: center;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: justify;
}

section {
    width: 900px;
    margin: auto;
}

.ref li {
    list-style: none;
    text-align: center;
}

ul {
    margin-bottom: 10px;
}

li {
    list-style-position: inside;
    text-align: justify;

}