@media screen and (min-width: 720px) {
    .sidebar {
        background-color: aqua;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        background-image: url(assets/fundosite.png) ;
        scroll-behavior: smooth;
        background-attachment: fixed;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    
    .sidebar {
       
        width: 200px;
        height: 100%;
        position: fixed;
      }
    
      .sidebar ul {
        list-style-type: none;
        padding: 20px;
      }
    
      .textao {
        position:absolute;
        top: 0;
        right: 0;
        padding: 60px;
        padding-top: 0;
        margin-left: 8em;
        margin-right: 2em;
        width: 1000px;
        height: 60%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
      }
    
      .texto {
        margin-left: 2em;
      }
      
      
      .sidebar ul li {
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      .sidebar ul li a {
        text-decoration: none;
        color: #333;
      }
    
    h1, h2 {
        margin-left: 3em;
        font-family:  Mono, monospace;
    }
    h1 {
        margin-top: 0.3em;
        margin-left: 4em;
        font-size: 5.0em;
    }
    
    h2 {
        font-size:2.0em ;
    }
    
    
    h3{
        font-size: 2em;
        font-family: OCR A Std, monospace;
        margin-top: 1em;
        margin-right: 8em;
        margin-left: 3em;
    }
    
    
     iframe{
        width: 360px;
        height: 200px;
        border: 5px solid greenyellow;
        gap: 0.5em;
     }
    
     .explicacao {
        width: 360px;
        height: 200px;
        border: 5px solid greenyellow;
         
     }
     
    img {
        width: 100px;
        height: 100px;
        border: 2px solid;
        border-color: white;
    }
    
    .asods {
        font-size: 18px;
    }
    
    .displayimagens {
        gap: 0.5em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    
    .displayimagens2 {
        gap: 0.5em;
        margin-left: 60%;
        margin-right: 42em;
         display: grid;
         grid-template-columns: 1fr 1fr;
         align-items: center;
         margin-top: 0.5em;
    }
    
    .displayvideos5 {
        margin-left: 3em;
        margin-top: 0.5em;
        gap: 1em;
    }
    
    .displayvideos {
        margin-left: 6.5em;
        margin-top: 0.5em;
        gap: 1em;
    }
    
    .display{
        gap: 0.5em;
         display: grid;
         grid-template-columns:1fr 1fr;
         align-items: center;
         
    }
    
    .page-header{
        text-decoration: none;
        list-style-type: none;
    }
    ul {
        list-style-type: none;
    }
    
    ul#menu, li a:link {
        text-decoration: none;
    }
    
    
    .significado {
        background-image: linear-gradient(to top, rgb(35, 192, 11), rgb(23, 129, 7));
        width: 40rem;
        height: auto;
        border-radius: 1.2rem;
        margin: auto;
        box-shadow: 0.5rem 0.5rem 2rem black;
    }
    
    .ods5   {
        width: 15em;
        height: 14.5em;
    }
    
    .title {
        font-size: 2.0em;
    }
       
    .displayods {
        gap: 0.5em;
        margin-left: 5%;
        margin-right: 40em;
         display: grid;
         grid-template-columns: 1fr 1fr;
         margin-top: 0.5em;
    }
    
    .box1 {
        width: 600px;
        height: 14.8em;
    }
    
    .box2 {
        width: 820px;
        height: 200px;
        margin-left: 3em;
        margin-top: 3px;
    }
    
    .asods5 {
        font-size: 18px;
        text-align: justify; 
    }
    
    .infos{
        width: 400px;
        height: 200px;
        border: 3px solid black;
        margin-left: 0.3em;
    }
    
    .referencias{
        font-size: 2em;
    }
    
    .ref {
        font-size: 16px;
    }
    
    h4 {
        font-size: 24px;
    }
}












@media screen and (max-width: 720px) {
    .sidebar {
        background-color: rgb(255, 0, 0);
    }

    .sidebar {
        background-color: rgb(255, 0, 0);
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        background-image: url(assets/fundosite.png) ;
        scroll-behavior: smooth;
        background-attachment: fixed;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    
    .sidebar {
       
        width: 200px;
        height: 100%;
        position: fixed;
      }
    
      .sidebar ul {
        list-style-type: none;
        padding: 20px;
      }
    
      .textao {
        position:absolute;
        top: 0;
        right: 0;
        padding: 60px;
        padding-top: 0;
        margin-left: 8em;
        margin-right: 2em;
        width: 1000px;
        height: 60%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
      }
    
      .texto {
        margin-left: 2em;
      }
      
      
      .sidebar ul li {
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      .sidebar ul li a {
        text-decoration: none;
        color: #333;
      }
    
    h1, h2 {
        margin-left: 3em;
        font-family:  Mono, monospace;
    }
    h1 {
        margin-top: 0.3em;
        margin-left: 4em;
        font-size: 5.0em;
    }
    
    h2 {
        font-size:2.0em ;
    }
    
    
    h3{
        font-size: 2em;
        font-family: OCR A Std, monospace;
        margin-top: 1em;
        margin-right: 8em;
        margin-left: 3em;
    }
    
    
     iframe{
        width: 360px;
        height: 200px;
        border: 5px solid greenyellow;
        gap: 0.5em;
     }
    
     .explicacao {
        width: 360px;
        height: 200px;
        border: 5px solid greenyellow;
         
     }
     
    img {
        width: 100px;
        height: 100px;
        border: 2px solid;
        border-color: white;
    }
    
    .asods {
        font-size: 18px;
    }
    
    .displayimagens {
        gap: 0.5em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    
    .displayimagens2 {
        gap: 0.5em;
        margin-left: 60%;
        margin-right: 42em;
         display: grid;
         grid-template-columns: 1fr 1fr;
         align-items: center;
         margin-top: 0.5em;
    }
    
    .displayvideos5 {
        margin-left: 3em;
        margin-top: 0.5em;
        gap: 1em;
    }
    
    .displayvideos {
        margin-left: 6.5em;
        margin-top: 0.5em;
        gap: 1em;
    }
    
    .display{
        gap: 0.5em;
         display: grid;
         grid-template-columns:1fr 1fr;
         align-items: center;
         
    }
    
    .page-header{
        text-decoration: none;
        list-style-type: none;
    }
    ul {
        list-style-type: none;
    }
    
    ul#menu, li a:link {
        text-decoration: none;
    }
    
    
    .significado {
        background-image: linear-gradient(to top, rgb(35, 192, 11), rgb(23, 129, 7));
        width: 40rem;
        height: auto;
        border-radius: 1.2rem;
        margin: auto;
        box-shadow: 0.5rem 0.5rem 2rem black;
    }
    
    .ods5   {
        width: 15em;
        height: 14.5em;
    }
    
    .title {
        font-size: 2.0em;
    }
       
    .displayods {
        gap: 0.5em;
        margin-left: 5%;
        margin-right: 40em;
         display: grid;
         grid-template-columns: 1fr 1fr;
         margin-top: 0.5em;
    }
    
    .box1 {
        width: 600px;
        height: 14.8em;
    }
    
    .box2 {
        width: 820px;
        height: 200px;
        margin-left: 3em;
        margin-top: 3px;
    }
    
    .asods5 {
        font-size: 18px;
        text-align: justify; 
    }
    
    .infos{
        width: 400px;
        height: 200px;
        border: 3px solid black;
        margin-left: 0.3em;
    }
    
    .referencias{
        font-size: 2em;
    }
    
    .ref {
        font-size: 16px;
    }
    
    h4 {
        font-size: 24px;
    }
}




