
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(228, 130, 59);
    scroll-behavior: smooth;
    font-size: 60%;
    font-family: Arial, Helvetica, sans-serif;
}


a {
    color: #F0E68C;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
   font-size: 20px;
    letter-spacing: 4px;
    color: #fff;
    align-items: center;
}


nav {
    display: flex;
    background-color: #23232e;
    height: 10vh;
    border-bottom: 4px solid #F0E68C;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}


.btn {
    display: block;
    background-color: #247D9E;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
    cursor: pointer;
    transition: width .3s ease-in-out;
    text-align: left;
    
}


/* Sidebar - starts */
.sidebar {
    background-color: #2B2E33;
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 1111;
    transition: transform .3s ease-in-out;
    transform: translateX(-250px);
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar ul a {
    position: relative;
    text-decoration: none;
    display: block;
    background-color: transparent;
    color: #BAB5BD;
    padding: 15px 20px;
    font-size: 16px;
}


.sidebar ul a:hover::before, .sidebar ul a.active::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #247D9E;
    width: 4px;
    height: 100%;

}
/* Sidebar - ends */

/* Effect of showing the sidebar - starts */
#checkbox:checked ~ .sidebar {
    transform: translateX(0);

}

#checkbox:checked + .btn {
    width: 300px;
    padding: 0 20px;
    
}

