@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

@font-face {
    font-family: 'DancingScript';
    src: url('assets/font/DancingScript-VariableFont_wght.ttf') format('woff');
  }

  body{
    background-color: #323232;
  }

  .titleflex {
    display: flex;
  }

  .feltentitle {
    color: #fff;
  text-shadow:
    0 0 7px #06d62e,
    0 0 10px #06d62e,
    0 0 21px #06d62e,
    0 0 42px #06d62e,
    0 0 82px #06d62e,
    0 0 92px #06d62e,
    0 0 102px #06d62e,
    0 0 151px #06d62e;
}

  .indextitle {
    color: #fff;
  text-shadow:
    0 0 7px #06d62e,
    0 0 10px #06d62e,
    0 0 21px #06d62e,
    0 0 42px #06d62e,
    0 0 82px #06d62e,
    0 0 92px #06d62e,
    0 0 102px #06d62e,
    0 0 151px #06d62e;
  }

  .main-title h1 {
    font-family: DancingScript;
    font-size: 80px;
    padding-left: 40px;
  }

  .main-title p {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40px;
    margin-top: -50px;
    color: white;
  }

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 25px;
    background-color: #3f3f3f;
    text-align: justify;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.389);
    position: relative;
    margin-left: 70px;
}

.cardt {
    margin-left: 40px;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 25px;
    background-color: #3f3f3f;
    text-align: justify;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.389);
    position: absolute;
    left: 870px;
    top: 195px;
}

.cardr {
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 25px;
    background-color: #3f3f3f;
    text-align: justify;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.389);
    position: absolute;
    left: 490px;
    top: 195px;
    scroll-behavior: smooth;
}

.card::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #06d62e;
    border-right: 20px solid #06d62e;
}

.cardt::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #06d62e;
    border-right: 20px solid #06d62e;
}

.cardr::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #06d62e;
    border-right: 20px solid #06d62e;
}

.icon {
    margin-bottom: 20px;
}

.icon img {
    width: 250px;
}

.content {
    height: 215px;
    overflow: hidden;
    position: relative;
}

.content::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.content h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    position: relative;
}

h3 {
    color: #fff;
}

.content p {
    color: #b7b7b7;
}

#read_button {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 5px;
    background-color: #06d62e;
    color: #313131;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    width: 250px;
}

#read_button_third {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 5px;
    background-color: #06d62e;
    color: #313131;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    width: 250px;
}

#read_button_second {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 5px;
    background-color: #06d62e;
    color: #313131;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    width: 250px;
}

#read_button:hover {
    background-color: transparent;
    color: #06d62e;
    transition: all 0.2s ease-in-out;
}

#read_button_third:hover {
    background-color: transparent;
    color: #06d62e;
    transition: all 0.2s ease-in-out;
}

#read_button_second:hover {
    background-color: transparent;
    color: #06d62e;
    transition: all 0.2s ease-in-out;
}

.card.active .content {
    height: auto;
}

.cardt.active .content {
    height: auto;
}

.cardr.active .content {
    height: auto;
}

.card.active .content::before {
    visibility: hidden;
}

.cardt.active .content::before {
    visibility: hidden;
}

.cardr.active .content::before {
    visibility: hidden;
}

.card p{
    color: #06d62e;
    text-align: center;
    cursor: pointer;
}

.cardt p{
    color: #06d62e;
    text-align: center;
    cursor: pointer;
}

.cardr p{
    color: #06d62e;
    text-align: center;
    cursor: pointer;
}


.card p:hover{
    animation: HoverColor 5s infinite;
  }

.cardt p:hover{
    animation: HoverColor 5s infinite;
}

.cardr p:hover{
    animation: HoverColor 5s infinite;
  }

  .titleflex p {
    border: none;
    padding-left: 22px;
    padding-top: 13px;
    border-radius: 2px;
    border: solid 3px;
    color: #fff;
    box-shadow: 0px 0px 45px #06d62e, 0px 0px 15px #06d62e inset;
    text-shadow:
    0 0 7px #06d62e, 0 0 10px #06d62e, 0 0 21px #06d62e, 0 0 42px #06d62e, 0 0 82px #06d62e, 0 0 92px #06d62e, 0 0 102px #06d62e, 0 0 151px #06d62e;
    margin-top: 75px;
    margin-left: 650px;
    background-color: #323232;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    width: 120px;
    height: 50px;
  }

  .titleflex a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
  }

  .titleflex a:hover {
    color: #06d62e;
  }

  @keyframes HoverColor {
    0% {
      color: #06d62e;
      transform: scale(1);
    }

    25% {
        color: rgb(255, 255, 255);
        transform: scale(1.1);
    }

    50% {
        color: #06d62e;
        transform: scale(1);
    }

    75% {
        color: rgb(255, 255, 255);
        transform: scale(1.1);
    }

    100% {
        color: #06d62e;
        transform: scale(1);
    }
  }
