  @font-face {
    font-family: 'BebasNeue';
    src: url('assets/BebasNeue-Regular.ttf') format('woff');
  }
  
  body {
    background-image: url(assets/Design\ sem\ nome.jpg);
    background-color: black;
    background-size: cover;
    font-family: BebasNeue;

  }

  svg {
    height: 13.5px;
    width: 13.5px;
  }

  .maintitle {
    font-size: 130px;
    background: -webkit-linear-gradient(#eee, #5e5e5e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 30px;
  }

  .works {
    background-color: #aeaeae;
    padding: 2px 10px;
    font-size: 30px;
    width: 98%;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  summary {
    cursor: pointer;
    padding-right: 30px;
    
  }

  details svg {
    width: 90px;
    height: 90px;
  }

  button {
    height: 50px;
    width: 200px;
    margin-left: 80px;
    margin-bottom: 20px;
    background-color: #aeaeae;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    font-weight: bold;
  }
  
  button:hover {
    cursor: pointer;
    box-shadow: 0 0 40px 40px black inset;
    animation: rainbowColor 5s infinite;
  }

  @keyframes rainbowColor {
    0% {
      color: red;
      border-color: red;
    }

    20% {
      color: orange;
      border-color: orange;
    }

    40% {
      color: yellow;
      border-color: yellow;
    }

    60% {
      color: rgb(0, 159, 0);
      border-color: rgb(0, 159, 0);
    }

    80% {
      color: rgb(0, 66, 165);
      border-color: rgb(0, 66, 165);
    }

    100% {
      color: red;
      border-color: red
    }
  }