/* TUDO */

* {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

html {
    cursor: default;
    scroll-behavior: smooth;
}

/* ----- */



/* MENU FIXO */

header {
    display: grid;
    grid-template-columns: 50% auto;
    background-color: #1b1e23;
    padding-top: 8px;
    padding-bottom: 5px;
    border-bottom: 4px solid #0075F2;
    gap: 8px;
}

nav {
    grid-column-start: 1;
    grid-column-end:3;
}
nav li {
    list-style: none;
    cursor: pointer;
    display: inline;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}
header a {
    padding: 0 10px 0 0;
    align-self: center;
    justify-self: right;
}

nav a, header a {
    text-decoration: none;
    color: #ccc;
}

nav a {
    text-align: center;
    padding: 2px;
    color: #ccc;
    transition: 0.8s;
    border-radius: 10px;
}
nav a:hover {
    color: #0075F2;
}

h1 {
    padding: 0 0 0 10px;
    font-size: 32px;
    color: #ccc;
    align-self: center;
    justify-self: left;
}


/* ----- */



/* SECTION */

section {
    height: 30em;
}
section:nth-child(odd) {
    background-color: #EFEFF0;
}
section:nth-child(even) {
    background-color: white;
}

.geral {
    margin: auto;
    display: block;
    margin-top: 20px;
}

h2 {
    text-align: center;
    padding-top: 10px;
}

/* ----- */


/* paleta de cores
    #1b1e23;
    #0075F2; azul
    #B486AB; roxo
    #EFEFF0; cinza bem claro
*/