/* TUDO */

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html {
    cursor: default;

    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    scroll-padding-top: 130px;
   
}

/* ----- */



/* MENU FIXO */

header {
    position: fixed;
    width: 100%;
    display: grid;
    height: 11rem;
    grid-template-columns: 50% auto;
    background-color: #1b1e23;
    padding: 10px 10px 10px 10px;
    border-bottom: 4px solid #ffd700;
    gap: 0.8rem;
    z-index: 1;
}

nav {
    grid-column-start: 1;
    grid-column-end:3;
}
nav li {
    list-style: none;
    cursor: pointer;
    display: inline;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}
header a {
    align-self: center;
    justify-self: right;
}

nav a, header a {
    text-decoration: none;
    color: #ccc;
}

nav a {
    text-align: center;
    padding: 0.2rem;
    color: #ccc;
    transition: 0.8s;
    border-radius: 10px;
}
nav a:hover {
    color: #ffd700;
}

h1 {
    padding: 0 0 0 0.1rem;
    font-size: clamp(0.1em, 1em + 3vw, 2.5em);
    color: #ccc;
    align-self: center;
    justify-self: left;
}
.linha {
    display: flex;
    justify-self: start;
    align-self: center;
}
header figure {
    align-self: center;
}

header img {
    width: 6rem;
    border-radius: 8px;
}



/* ----- */



/* SECTIONS GERAL */

section {
    /* height: 83vh; */
    padding: 0.9rem 2.5rem 0.9rem 2.5rem;
}

section:nth-child(odd) {
    background-color: #EFEFF0;
}

section:nth-child(even) {
    background-color: white;
}

p {
    text-align: justify;
    padding: 1rem 0;
}

/* ----- */

/* SECTION 1 */

#secao1 {
    display: grid;
    grid-template-rows: 10% 90%;
    align-items: center;
    height: auto;
    padding-top: 13rem;
}

.geral {
    justify-self: center;
    align-self: flex-start;
    margin: 2rem;
    border: 0.2rem solid #ffd700;
    border-radius: 6px;
}

h2 {
    text-align: center;
    align-self: center;
    font-size: clamp(0.1rem, 2.6rem, 10rem);
}

/* ---- */

/* SECTION 2 */

#secao2 {
    padding: 2rem;
    height: auto;
}

.ods7 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3rem;
}

/* ----- */

/* SECTION 3 */

#secao3 {
    height: auto;
    padding: 2rem;
}

.nosso {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding-top: 2rem;
}

/* ----- */

/* SECTION 4 */

#secao4 {
    height: auto;
    padding: 2rem;
}

/* ----- */

/* SECTION 5 */

#secao5 {
    height: 83vh;
}

/* ----- */

/* FOOTER */

footer {
    background-color: #1b1e23;
    height: 10vw;
}

/* ----- */

/* paleta de cores
    #1b1e23;
    #ffd700; amarelo
    #B486AB; roxo
    #EFEFF0; cinza bem claro
*/

