body {
    font-family: 'Shadows Into Light', cursive;
    background-color: rgb(24, 25, 27);
    background-size: cover;
    background-repeat: no-repeat;
}

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

h1, h2{
    text-align: center;
    color: rgb(236, 225, 225);
}

.card {
    width: 75%;
    height: 100%;
    background: #d3cbcb00;
    position: relative;
    left: 12vw;
    display: inline-flex;
    place-content: center;
    place-items: center;
    align-items: center;
    overflow: hidden;
    border-radius: 55px;
    text-align: center;
  }

  .card h2 {
    z-index: 1;
    color: rgb(229, 214, 214);
    font-size: 30px;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .card::after {
    content: '';
    position: absolute;
    background: #4a91b7;
    inset: 5px;
    border-radius: 15px;
  }

  .link {
    color: rgb(204, 196, 196);
    position: relative;
    left: -25px;
  }

  .pasta1 {
    width: 75%;
    height: 100%;
    background: #d3cbcb00;
    position: relative;
    left: 12vw;
    display: inline-flex;
    place-content: center;
    place-items: center;
    align-items: center;
    overflow: hidden;
    border-radius: 55px;
    text-align: center;
  }

  @media (max-width: 768px) {
    .card {
        width: 100%;
        height: auto;
    }

    .card h2 {
        font-size: 20px;
    }
}

.foto {
    float: left;
    margin-right: 00px;
    position: relative;
    margin-top: 5px;
    width: 100px;
    left: -25px;
}