body {
  background-color:linear-gradient (rgb(34, 249, 141) rgb(58, 195, 244) rgb(206, 4, 206));
  color:#1e130c;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
  font-size: 25pt;
  font-style: italic;
  text-decoration:underline; color:rgb(255, 0, 225);
  text-align: center;
}
a{
  font-size: 15pt;
  font-style:italic;
}
