body {
  background-image:radial-gradient(rgb(219, 219, 219), rgb(195, 112, 237), rgb(40, 198, 241));
  color:#1e130c;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
h1{
  font-size: 25pt;
  font-style: italic;
  text-decoration:underline; color:rgb(0, 0, 0);
  text-align: center;
}
a {
  font-size: 20pt;
  font-style:italic;
  text-align: center;
  color:black;
}
/* a:hover{
  color: rgb(255, 255, 255)
} */