body {
  background-image: repeating-linear-gradient (rgb(94, 249, 192),rgb(49, 213, 253));
  color:#1e130c;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
  font-size: 20pt;
  font-style: italic;
}
