* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(204, 193, 193);
    margin-right: 80px;
    margin-left: 80px;
    
}

h1 {
    font-family: Arial, Helvetica, sans-serif '
    color rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
    margin-bottom: 30px;
}
h2 { 
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    font-size:20px;
    text-align: center;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color:#000000;
    font-size: 32px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 60px;
}
.button {

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: wavy;
    display: inline-block;
    color:rgb(0, 0, 0);
    margin-bottom: 40px;
    border-radius: 1rem;
    border: 1px solid rgb(0, 0, 0);
}
.button:hover {
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: 0.8s;
}
img { 
    height: 300px;
    width: auto;
     /* configurar 2 colunas */
     grid-template-columns: auto auto;
     text-align: center;
}
iframe {
    margin-bottom: 30px;
    position: static;
}
/* Links */
a {
    text-decoration: none;
}

/* Links */
.a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.a div {
    margin-left: 40px;
    margin-right: 40px;
    /* border: 1px solid red; */
}
#title {
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
}
.base {
    text-align: center;
}
.text {
    text-align: left;
    margin-left: 30px;
}
#contas {
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    text-align: center;
}
#contas img {
    height: 50px;
    width: auto;
}

article {
    width: 100%;
    text-align: right;
}