html{
    margin-left: 25%;
    margin-right: 25%;
    background-color:#d6e3e3;
  }
  h1{
    color:#8b538a;
    font-family:monospace;
    font-size: 45px;
  }
  p{
    font-family: Arial, Helvetica, sans-serif;
  }
  h2{
    font-family: monospace;
    color:#8b538a;
  }
  button {
    background-color: #8b538a;
    color:rgb(255, 255, 255);
    border: 0;
    padding: 15px 32px;
    border-radius: 60px;
  }