body {
    font-family: 'Jost', sans-serif;
    font-size: medium;
    background-image: url(../img/fundo.jpg);
    background-attachment: fixed;
    background-size: 100%;
    color: white;
}

h1 {
    text-align: center;
}

.paragrafo {
    padding: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&display=swap');

.dropdown {
    position: relative;
    display: inline-block;
    }
    
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(32, 29, 29);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 20px 20px;
    }
    
.dropdown:hover .dropdown-content {
    display: block;
    }