* h1{
text-align: center;
}
h2, p{
text-align: center;
}
h3{
text-align: center;
}
body {
     background: rgb(16,44,79);
background: linear-gradient(90deg, rgba(16,44,79,1) 0%, rgba(94,84,255,1) 95%);
     text-align: center;
    }


   