* h1{
text-align: center;
}
h2, p{
text-align: center;
}
h3{
text-align: center;
}
body {
     background: rgb(16,79,76);
background: linear-gradient(90deg, rgba(16,79,76,1) -10%, rgba(75,83,211,1) 0%, rgba(191,84,255,1) 75%);
     text-align: center;
    }


   