img {
   border-radius: 10px
}
.hj{
	background-color: orange;
	margin: 0 30vw
}
a {
  background: white;
  padding: 10px;	
  border-radius: 10px;
  color: black;
  text-decoration: none;
}
a:hover:hover {
  background-color: orange
}
body {
  background-image: url("https://i.pinimg.com/474x/6a/e1/c2/6ae1c24358580fbf190e7ec895cdd1a7.jpg");
  background-repeat: no-repeat;
  background-size: 110%
}
pre.o {
  font-size: 80;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
pre.h {
  font-size: xx-large;
  text-align: center;
}