body {
    background-image: url("e28757ba75975cab46fd49b3879b354d\ -\ Atalho.lnk");
    background-repeat: no-repeat;
    background-size: 100%;
  }

body {	text-align: center;
}

h1 {
  color: white;
}