body {
    background-color: #c6d8e7;
}

:root {
    --cinza: #E7EBF0;
    --cinzaescuro: #3D3737;
}

header {
    background-color: #7bdce3;
    height: 120px; /* Altura do header */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.logo img {
    max-width: 100%; /* Largura máxima */
    max-height: 250px; /* Altura máxima ajustada */
    object-fit: contain; /* Exibe a imagem inteira dentro do elemento */
}
