* {
	z-index: 2;
}
body {
	background:white ;
	text-align: center;
	background-image: url(gift.gif);
}
.container {
	align-content: center;
	z-index: 20;
	position: fixed;
	left: 35%;
}
video {
position: fixed;
right: 0;
bottom: 0;
z-index: 1;
width: 100vw;
height: 100vh;
}

	