body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: rgba(0, 183, 255, 0.473);
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #000000;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.rounded-image {
      border-radius: 50%; 
      width: 150px; 
      height: 150px; 
      object-fit: cover;
    }

    header {
        display: flex;
    }

    header h1 {
        margin-top: 55px;
        margin-left: 40px;
    }