* {
    text-align: center;
}

ul {
    list-style: none;
}

p{
    color:white;
    text-align: center;
}

body {
    background-color: rgb(13, 167, 214);
}

.res {
    width: 1000px;
    margin: 280px;
    margin-top: -1px;
}

section:nth-child(odd){
    background: rgb(38, 38, 38);
    height: auto;
}

@media screen and (min-width: 768px) {
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    header {
        padding: 15px 0px;
        position: fixed;
        width: 100%;
        background-color: rgb(38, 38, 38);
        z-index: 1;
    }
    
    header nav ul {
        list-style: none;
        text-align: center;
    }
    
    header nav ul li {
        display: inline;
    }
    
    header nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: -15px;
        font-size: 30px;
        padding: 2px 10px;
        display: inline-block;
    }
    
    header nav ul li a:hover {
        color: rgb(90, 74, 230);
    }
    
    section {
        padding-top: 100px;
        text-align: center;
        width: 100%;
        height: 700px;
    }
    
    section:nth-child(odd){
        background: rgb(38, 38, 38);
    }
    
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }
    
    article {
        width: 100%;
        text-align: center;
    }
    
    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        font-size: 50px;
    }
    
    h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        font-size: 30px;
    }
    
    h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        font-size: 30px;
    }
    
    p {
        margin-top: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: center;
    }
    
    .color-white {
        color: white
    }
}
@media screen and (max-width: 480px) {}
    body {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
            text-align: center;

        
        
        html {
            scroll-behavior: smooth;
        }
        
        header {
            padding: 15px 0px;
            position: fixed;
            width: 100%;
            background-color: rgb(38, 38, 38);
            z-index: 1;
        }
        
        header nav ul {
            list-style: none;
            text-align: center;
        }
        
        header nav ul {
            display: block;
        }
   
        header nav ul li a {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-top: -15px;
            font-size: 30px;
            padding: 2px 10px;
            display: inline-block;
        }
        
        header nav ul li a:hover {
            color: rgb(90, 74, 230);
        }
        
        section {
            padding-top: 100px;
            text-align: center;
            width: 100%;
            height: 700px;
        }
        
        section:nth-child(even) {
            background: rgb(13, 167, 214);
        }
        
        section:nth-child(odd){
            background: rgb(38, 38, 38);
        }
        
        .flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
        }
        
        article {
            width: 100%;
            text-align: center;
        }
        
        h1 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: black;
            font-size: 50px;
        }
        
        h2 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
            font-size: 30px;
        }
        
        h3 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: black;
            font-size: 30px;
        }
        
        p {
            margin-top: 30px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 20px;
            text-align: center;
        }
        
        .color-white {
            color: white
        }

        iframe {
            width: 400px;
        }
    }