@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
margin:0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto", sans-serif;
}
body {
    background: #000000;
    color: #ffffff;
  }
.container{
    padding: 0 20px;
    display: grid;
    grid-template-columns: 23px auto auto;
    align-items: center;
}

header{
    background-color: #0e0e0e;
    width: 100%;
}

button { 
    background-color: #0e0e0e; 
    color: #f09000; 
    border:none;
    font-size: 160%;
    cursor: pointer;
  }

.logo{
    align-items: self-start;
}

/* .menutop{
    width: 60%;
} */
#logo{
    width: 230px;
    justify-self: start;
}
#menutop,nav,a{
    color: #ffffff;
    text-decoration: none;
    /* padding-right:30px ; */
}

#menutop a + a {
    padding-left: 30px;
}

#menutop {
    justify-self: self-end;
}
