img {
    width: 3vw;
    border-radius: 10px;
}

* {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5vw;
    text-align: center;
    color: #232323;
}

body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

header {
    background-color: bisque;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #5c4152;
}

.conhecimentos {
    background-color: #f7d0a9;
}

.experiencias {
    background-color: #d97f76;
}

.profissional {
    background-color: #b4585d;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');