* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

body {
  min-height: 100vh;
}

.logo {
  width: 250px;

  /* position: absolute; */
}

.perfil {
  width: 50px;
  /* margin-left: 100px; */
  /* position: absolute; */
}

#exit {
  width: 30px;
  height: 30px;
  position: absolute;
  /* position: fixed; */
  top: 10px;
  margin-left: 5px;
  /* right: 0; */
  cursor: pointer;
}

.exit div {
  width: 30px;
  height: 4px;
  background: rgb(51, 51, 51) none repeat scroll 0% 0%;
  margin-top: 3px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto;
  height: 100%;
}

.message-container {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}

.message-bubble {
  background-color: #f8f9fa;
  padding: 10px 16px;
  border-radius: 50px;
  max-width: 60%;
  word-wrap: break-word;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
}

.sender-message-container {
  justify-content: flex-end;
}

.sender-message-bubble {
  background-color: #007bff;
  color: white;
}

.message-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
}

#messageInput {
  flex-grow: 1;
  margin-right: 6px;
  border: none;
  outline: none;
  border-radius: 50px;
  height: 30px;
  font-size: 16px;
  background-color: #f8f9fa;
  padding: 10px 16px 10px 16px;
}

#sendButton {
  background-color: #007bff;
  border-radius: 50px;
  outline: none;
  border: none;
  padding: 14px 16px 14px 16px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#sendButton:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
}

#sendButton:active {
  background-color: #3b9aff;
}