@media screen and (min-width: 720px) {

    body {

        background-image:url(./bob_esponja.gif);

        background-repeat: repeat-y;


        text-align: center;


    }
    .meio {
        text-align: center;
    }

}

@media screen and (max-width: 720px) {

    body {

        background-image:url(./images.jpg);

        text-align: center;

    }
    .meio {
        text-align: left;
    }

}

@media screen and (min-width: 720px) {

body {
    text-align: center;

    background-size: cover;
	text-align: center;
}
}


h3{

    .calculadora

        position: absolute;

        background-color: black;

        top: 50%;

        transform: translate(-50%,-50%);

        border-radius: 15px;

        padding: 15px;

        left: 50%

       

    }

    .botão{

        width: 50px;

        height: 50px;

        font-size: 25px;

        margin: 3px;

        cursor: pointer;

        background-color: rgb(31,31,31);

        border: none;

        color: white

    }

    .botão:hover{

        background-color: black;

    }

    #resultado{

        background-color: white;

        width: 207px;

        height: 30px;

        margin: 5px;

        font-size: 25px;

        color: black;

        text-align: right;

        padding: 5px;
}
*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

 

   

}




html {

    background-image: url(./bob_esponja.gif);



   

}




nav {

    text-align: center;

    margin-top: 50px;




}

nav a{

    color: rgb(255, 255, 255);

    text-decoration: none;

    padding: 5px;

    margin: 5px;

    font-size: 25pt;

    position: relative;

   

}




nav a::after{

    content: "";

    width: 0%;

    height: 4px;

    background-color:rgb(255, 0, 0);

    position: absolute;

    bottom: 0;

    left: 5%;

    right: 11%;

    transition: 0.5s ease-in-out;

}




nav a:hover::after {

    width: 90%;

   

}

.Curto {;
    text-align:center;
    width: 60%;
    position: absolute;
    left: 20%;
}
.texto1{
    width: 60%;
    position: absolute;
    left: 20%;
}



