* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/wallpape.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

body {
    font-family: Arial, sans-serif;
}

#restart-button {
    margin-left: 4vw;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-family: cursive;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.game-board {
    width: 100%;
    height: 37vw;
    margin: 4vw auto;
    position: relative;
    overflow: hidden;
}

.pipe {
    position: absolute;
    bottom: 0%;
    width: 8vw;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 15vw;
    position: absolute;
    bottom: 0px;
}

.jump {
    animation: jump 500ms ease-out;
}

@keyframes pipe-animation {
    from{
        right: -100px;
    }

    to{
        right: 100%;
    }
}

@keyframes jump {
    
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 200px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }

}
