body {

 background-repeat: no-repeat;

 background-size: 100%;

 background-image: url(background_marmorevermelho.jpg)

}



h1, a, p, h2, ul {

 color: rgb(255, 255, 255);

 text-align: center;

}



.meio {

 text-align: center;

}