body {

    background-repeat: no-repeat;
   
    background-size: 100%;
   
   color: #000;
   
   }
   
   
   
   h1, a, p, h2, ul {
   
    color: rgb(253, 251, 251);
   
    text-align: center;
   
   }
   
   
   
   .meio {
   
    text-align: center;
   
   }
   
   a {
       position: relative;
       text-decoration: none;
   }
   
   a::after {
       content: "";
       position: absolute;
       width: 100%;
       height: 2px;
       bottom: 0;
       left: 0;
       background-color: red;
       transform: scaleX(0);
       transform-origin: right;
       transition: transform 0.3s ease-in-out;
   }
   
   a:hover::after {
       transform: scaleX(1);
       transform-origin: left;
   }
   h1 {
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0;
    font-size: 24px;
    border-right: 1px solid #000; 
 }