* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Colors:
Light: #F4EBD0
Darker: #122620
Gold: #D6AD60
Tan: #B68D40
*/
body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: #F4EBD0;
    color: #122620;
    overflow-x: hidden;
}
.logo {
    width: 40px;
}
nav {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 5px;
    text-transform: capitalize;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    left: 0;
    background-color: #F4EBD0;
}
nav ul{
    position: relative;
    text-align: end;
}
nav ul li{
    text-align: center;
    display: inline;
    padding: 0 .5rem;
}
nav ul li a{
    text-align: center;
    text-decoration: none;
    display: inline;
    color: #122620;
    font-size: 1rem;
    padding: 5px;
}
#general {
    margin-top: 45px;
}
.active {
    border-bottom: 1px solid #122620;
}
section {
    padding-top: 2rem;
    margin: 10px 5px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #D6AD60;
}
.heading-container {
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
}
.heading-container img {
    min-width: 55px;
    max-width: 50%;
    justify-self: center;
    mix-blend-mode: darken;
}
.heading {
    color: #D6AD60;
    font-weight: 700;
    margin-top: 5px;
}
.heading span {
    color: #B68D40;
}
h2 {
    font-size: .625rem;
}

.video-content {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.video {
    padding: 5px;
    text-align: center;
  }
.yt iframe {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    aspect-ratio: 16/9;
  }
.video-text {
    font-size: 0.75rem;
    align-self: center; 
    justify-content: left;
}
.objectives {
    margin-top: 8px;
}
.objectives h2 {
    color: #B68D40;
    margin: 5px;
}
ol li {
    padding-bottom: 4px;
    font-size: 1rem;
    margin-left: 20px;
    list-style-type: disc;
}
p {
    font-size: 1rem;
}
h2 {
    font-size: 1.2rem;
}
h1 {
    font-size: 1.75rem;
    margin: 15px 0;
}
.videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#ref {
    display: flex;
    flex-direction: column;
    gap: 10px
}
.reftext {
    width: 70vw;
    margin: 14px 0;
}
.hidden {
    display: none;
}
.expandable-container {
    margin: 10px 0;
    width: 100%;
}

.expand {
    background: none;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    text-align: left;
    border: none;
    font-size: 1rem;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.icon {
    width: 15px;

}

.expandable {
    padding: 5px;
}

@media (max-width: 768px) {
    
    iframe {
        width: 170px;
    }
    section {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
    }
    .video-content {
        display: flex;
        flex-direction: column;
    }
    .logo {
        display: none;
    }
    nav {
        display: block;
    }
    nav ul {
        text-align: center;
    }
    nav ul li a {
        font-size: 0.55rem;
    }
    
}
